<ion-header>
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="chevron-back"></ion-back-button>
      <!-- <ion-menu-button mode=ios></ion-menu-button> -->
    </ion-buttons>
    <ion-title>Qr Reach View</ion-title>
    <ion-buttons slot="end" routerLink="/edit-qr-reach">
      <ion-icon name="create-outline" ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let qr of qrdetails">
  <ion-card class="first">
    <ion-row class="row">
      <ion-col class="bg">
        <ion-avatar *ngIf="uimage!=''">
          <img src="{{uimage}}" alt="">
        </ion-avatar>
        <ion-avatar *ngIf="uimage==''">
          <img src="assets/profile.png">
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="second">
    <ion-row>
      <ion-col size="3">
        <p class="reach">Reach ID</p>
      </ion-col>
      <ion-col>
        <p class="id">{{qr.qr_id}}</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="image-card">
    <ion-row>
      <p>Image</p>
    </ion-row>
    <div class="scroll">
      <img src="{{qr.image1}}" alt="">
      <img src="{{qr.image2}}" alt="">
      <img src="{{qr.image3}}" alt="">
      <img src="{{qr.image4}}" alt="">
    </div>
  </ion-card>

  <ion-card class="third">

    <ion-row class="heading">
      <p>User Name</p>
    </ion-row>
    <ion-row class="ans">
      <p>{{qr.name}}</p>
    </ion-row>
    <ion-row class="heading">
      <p>User Number</p>
    </ion-row>
    <ion-row class="ans">
      <p>{{qr.mobile}}</p>
    </ion-row>
    <ion-row class="heading">
      <p>User Mail ID</p>
    </ion-row>
    <ion-row class="ans">
      <p>{{qr.email}}</p>
    </ion-row>
    <ion-row class="heading">
      <p>Purpose (Vehicle)</p>
    </ion-row>
    <ion-row class="ans">
      <ion-col size="12">
        <h6>Vehicle</h6>
      </ion-col>
      <ion-col size="12">
        <h6>{{qr.vehicle_type}}</h6>
      </ion-col>
      <ion-col size="12">
        <h6>{{qr.registration_number}}</h6>
      </ion-col>
    </ion-row>
    <ion-row class="heading">
      <p>Address</p>
    </ion-row>
    <ion-row class="ans">
      <p>{{uaddress}}</p>
    </ion-row>
    <ion-row class="heading">
      <p>Nominee Name</p>
    </ion-row>
    <ion-row class="ans">
      <p>{{qr.nominee_name}}</p>
    </ion-row>
    <ion-row class="heading">
      <p>Contact No</p>
    </ion-row>
    <ion-row class="ans">
      <p>{{qr.nominee_mobile}}</p>
    </ion-row>
  </ion-card>

  <h4>Sticker & Tag</h4>

  <ion-card class="generate-card">
    <ion-row class="gpay">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Google_Pay_%28GPay%29_Logo_%282018-2020%29.svg/1280px-Google_Pay_%28GPay%29_Logo_%282018-2020%29.svg.png"
        alt="">

      <ion-card>
        <ion-row class="generate">
          <ion-col>
            <p class="reach">Reach ID</p>
          </ion-col>
          <ion-col class="aligncol">
            <p class="id">{{qr.qr_id}}</p>
          </ion-col>
        </ion-row>
      </ion-card>

      <qrcode [qrdata]="qr.qr_id" style="height: 230px !important;width: 230px !important;"></qrcode>
      <p class="phone">{{qr.registration_number}}</p>
      <span class="note">Note: <span>Scan to reach belongers in case of emergency. don't misuse</span></span>
    </ion-row>
  </ion-card>

  <ion-card class="fifth">
    <ion-card>
      <ion-row class="rowa">
        <ion-row class="rowb">
          <ion-col class="bground">
            <ion-row class="thick-border">
            </ion-row>
            <ion-avatar>
              <img src="http://www.eurocarnews.com/media/pictorials/1445/6905.jpg" alt="">
            </ion-avatar>
            <ion-row class="nam text-overflow">
              <p>{{qr.name}}</p>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-row class="refer text-overflow">
              <ion-col size="5.2">
                <p class="reach">Refer ID</p>
              </ion-col>
              <ion-col>
                <span class="aligncol text-overflow">
                  <p class="id">{{qr.qr_id}}</p>
                </span>
              </ion-col>
            </ion-row>
            <ion-row class="vehic text-overflow">
              <ion-col size="5.2">
                <p>Vechile</p>
              </ion-col>
              <ion-col class="text-overflow">
                <p class="vehicno">{{qr.registration_number}}</p>
              </ion-col>
            </ion-row>
            <ion-row class="noteclas">
              <span class="noteclass">Note: <span>Scan to reach belongers in case of emergency. don't
                  misuse</span></span>
            </ion-row>
          </ion-col>
          <ion-col size="4" class="qrclas">
            <img class="qrr"
              src="https://www.freepnglogos.com/uploads/qr-code-png/qr-code-code-sticker-transparent-png-svg-vector-19.png"
              alt="">
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-card>
  </ion-card>

  <ion-grid class="last-grid">
    <ion-row>
      <ion-col class="left">
        <p>Payment History</p>
      </ion-col>
      <ion-col class="right">
        <p>Choose</p>
      </ion-col>
    </ion-row>
    <ion-row class="button">
      <ion-col style="text-align: center;">
        <ion-button fill="outline">Download</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer mode="md" class="home-footer">
  <ion-row>
    <ion-col routerLink="/home">
      <ion-icon name="home" class="click-footer"></ion-icon>
      <p class="click-footer">Home</p>
    </ion-col>
    <ion-col routerLink="/profile">
      <ion-icon name="person-outline"></ion-icon>
      <p>Profile</p>
    </ion-col>
    <ion-col routerLink="/qr-scanner">
      <ion-icon name="scan-outline"></ion-icon>
      <p>Scan</p>
    </ion-col>
    <ion-col routerLink="/favourites">
      <ion-icon name="heart-outline"></ion-icon>
      <p>Favourites</p>
    </ion-col>
    <ion-col routerLink="/calls">
      <ion-icon name="call-outline"></ion-icon>
      <p>Call</p>
    </ion-col>
  </ion-row>
</ion-footer>



<!-- <ion-card class="fourth">
    <ion-row class="gpay">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Google_Pay_%28GPay%29_Logo_%282018-2020%29.svg/1280px-Google_Pay_%28GPay%29_Logo_%282018-2020%29.svg.png"
        alt="">
      <img class="qr"
        src="https://www.freepnglogos.com/uploads/qr-code-png/qr-code-code-sticker-transparent-png-svg-vector-19.png"
        alt="">
      <p class="phone">TN 22 DH 9354</p>
      <span class="note">Note: <span>Scan to reach belongers in case of emergency. don't misuse</span></span>
    </ion-row>
  </ion-card>

  <ion-card class="fifth">
    <ion-card>
      <ion-row class="rowa">
        <ion-col class="bground">
          <ion-avatar>
            <img src="http://www.eurocarnews.com/media/pictorials/1445/6905.jpg" alt="">
          </ion-avatar>
        </ion-col>
        <ion-row>
          <ion-col>
            <ion-row class="refer">
              <p>Refer ID <span>985621</span></p>
            </ion-row>
            <ion-row class="refer">
              <p>Vechile <span>TN 22 DH 9133</span></p>
            </ion-row>
            <ion-row>
              <span class="note">Note: <span>Scan to reach belongers in case of emergency. don't misuse</span></span>
            </ion-row>
          </ion-col>
          <ion-col class="qrr" size="3">
            <img class="qr"
              src="https://www.freepnglogos.com/uploads/qr-code-png/qr-code-code-sticker-transparent-png-svg-vector-19.png"
              alt="">
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-card>
  </ion-card>

  <ion-grid class="last-grid">
    <ion-row>
      <ion-col class="left">
        <p>Payment History</p>
      </ion-col>
      <ion-col class="right">
        <p>Choose</p>
      </ion-col>
    </ion-row>
    <ion-row class="button">
      <ion-col class="lef">
        <ion-button>Download</ion-button>
      </ion-col>
      <ion-col class="righ">
        <ion-button>Renewal</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content> -->

<ion-footer mode="md" class="home-footer">
  <ion-row>
    <ion-col routerLink="/home">
      <ion-icon name="home"></ion-icon>
      <p>Home</p>
    </ion-col>
    <ion-col routerLink="/profile">
      <ion-icon name="person-outline"></ion-icon>
      <p>Profile</p>
    </ion-col>
    <ion-col routerLink="/qr-scanner">
      <ion-icon name="scan-outline"></ion-icon>
      <p>Scan</p>
    </ion-col>
    <ion-col routerLink="/favourites">
      <ion-icon name="heart-outline"></ion-icon>
      <p>Favourites</p>
    </ion-col>
    <ion-col routerLink="/calls">
      <ion-icon name="call-outline"></ion-icon>
      <p>Call</p>
    </ion-col>
  </ion-row>
</ion-footer>