<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-col>
        <ion-title>Category Name</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-slides>
    <ion-slide>
      <ion-row>
        <ion-col>
          <img src="assets/category/bakery.png">
        </ion-col>
        <ion-col>
          <img src="assets/category/grocery.png">
        </ion-col>
        <ion-col>
          <img src="assets/category/restaurant.png">
        </ion-col>
        <ion-col>
          <img src="assets/category/milk.png">
        </ion-col>
        <ion-col>
          <img src="assets/category/chicken.png">
        </ion-col>
        <ion-col>
          <img src="assets/category/pharmacy.png">
        </ion-col>
        <ion-col>
          <img src="assets/category/grocery.png">
        </ion-col>
        <ion-col>
          <img src="assets/category/bakery.png">
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col>
          <img src="assets/category/bakery.png">
        </ion-col>
        <ion-col>
          <img src="assets/category/grocery.png">
        </ion-col>
        <ion-col>
          <img src="assets/category/restaurant.png">
        </ion-col>
        <ion-col>
          <img src="assets/category/milk.png">
        </ion-col>
        <ion-col>
          <img src="assets/category/chicken.png">
        </ion-col>
        <ion-col>
          <img src="assets/category/pharmacy.png">
        </ion-col>
        <ion-col>
          <img src="assets/category/grocery.png">
        </ion-col>
        <ion-col>
          <img src="assets/category/bakery.png">
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
</ion-header>

<ion-content no-padding>
  <ion-searchbar placeholder='Search Store'></ion-searchbar>
  <ion-card>
    <ion-row no-padding>
      <ion-col size="4">
        <ion-button color="light" size="small" expand="block" type="ios">Open Now</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button color="light" size="small" expand="block" type="ios">With offers</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button color="light" size="small" expand="block" type="ios">Top Rated</ion-button>
      </ion-col>
    </ion-row>
    <hr />
    <ion-row>
      <ion-col size="2">
        <ion-avatar>
          <img
            src="https://img.etimg.com/thumb/msid-73320353,width-1200,height-900,imgsize-789754,overlay-etrise/photo.jpg">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <strong>Sri Balaji Rice Depot</strong>
        <ion-badge color="success">Open Now</ion-badge>
        <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
        <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8
        <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
      </ion-col>
      <ion-col size="1">
        <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-avatar>
          <img
            src="https://www.kare-design.com/wp-content/uploads/2015/08/4.jpg">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <strong>HUNGRY JACKS BAKERY </strong>
        <ion-badge color="success">Open Now</ion-badge>
        <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
        <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8
        <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
      </ion-col>
      <ion-col size="1">
        <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-avatar>
          <img
            src="https://bsmedia.business-standard.com/_media/bs/img/article/2020-04/24/full/1587749293-324.jpg">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <strong>Sravanthi Kiranam Store</strong>
        <ion-badge color="success">Open Now</ion-badge>
        <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
        <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8
        <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
      </ion-col>
      <ion-col size="1">
        <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-avatar>
          <img
            src="https://www.warrenfarm.co.uk/images/shops/warren-farm-shop-lrg-1.jpg">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <strong>Manikanta Super Market </strong>
        <ion-badge color="success">Open Now</ion-badge>
        <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
        <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8
        <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
      </ion-col>
      <ion-col size="1">
        <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-avatar>
          <img src="https://djx5h8pabpett.cloudfront.net/wp-content/uploads/sites/4/2019/02/12134519/J%C3%A4germeister_AMS_Schiphol_Ice-Cold_Feb_19-3.jpg">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <strong>HUNGRY JACKS BAKERY </strong>
        <ion-badge color="success">Open Now</ion-badge>
        <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
        <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8
        <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
      </ion-col>
      <ion-col size="1">
        <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-avatar>
          <img src="https://www.fujifilm.eu/typo3temp/_processed_/5/5/csm_DSCF4431_01_3a23a2b33d.jpg">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <strong>HUNGRY JACKS BAKERY </strong>
        <ion-badge color="success">Open Now</ion-badge>
        <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
        <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8
        <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
      </ion-col>
      <ion-col size="1">
        <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-avatar>
          <img
            src="https://shreelifestyle.com/pub/media/wysiwyg/home/Store-locator.jpg">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <strong>HUNGRY JACKS BAKERY </strong>
        <ion-badge color="success">Open Now</ion-badge>
        <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
        <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8
        <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
      </ion-col>
      <ion-col size="1">
        <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-avatar>
          <img src="https://www.stop-shop.com/images/module/2005.jpg">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <strong>HUNGRY JACKS BAKERY </strong>
        <ion-badge color="success">Open Now</ion-badge>
        <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
        <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8
        <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
      </ion-col>
      <ion-col size="1">
        <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-avatar>
          <img
            src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <strong>HUNGRY JACKS BAKERY </strong>
        <ion-badge color="success">Open Now</ion-badge>
        <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
        <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8
        <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
      </ion-col>
      <ion-col size="1">
        <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-icon name="call-outline"></ion-icon>
    </ion-col>
    <ion-col routerLink="/message">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon name="home-outline" class="home-icon"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon name="heart-outline"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon name="person-outline"></ion-icon>
    </ion-col>
  </ion-row>
</ion-footer>