<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-col><ion-title>Category Name</ion-title></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-searchbar placeholder='Search Store'></ion-searchbar> 
  <ion-card>
  <ion-row no-padding>
    <ion-col size="4">
      <ion-button color="light" size="small" expand="block"  type="ios">Open Now</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="light" size="small" expand="block"  type="ios">With offers</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="light" size="small" expand="block"  type="ios">Top Rated</ion-button>
    </ion-col>
  </ion-row>
  <hr />
  <ion-row>
    <ion-col size="3">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>Sri Balaji Rice Depot</strong>
      <ion-badge color="success">Open Now</ion-badge> <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
   <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>HUNGRY JACKS BAKERY </strong>
      <ion-badge color="success">Open Now</ion-badge> <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
    <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>Sravanthi Kiranam Store</strong>
      <ion-badge color="success">Open Now</ion-badge> <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
    <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>Manikanta Super Market </strong>
      <ion-badge color="success">Open Now</ion-badge> <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
    <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>HUNGRY JACKS BAKERY </strong>
      <ion-badge color="success">Open Now</ion-badge> <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
    <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>HUNGRY JACKS BAKERY </strong>
      <ion-badge color="success">Open Now</ion-badge> <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
    <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>HUNGRY JACKS BAKERY </strong>
      <ion-badge color="success">Open Now</ion-badge> <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
    <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>HUNGRY JACKS BAKERY </strong>
      <ion-badge color="success">Open Now</ion-badge> <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
    <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>HUNGRY JACKS BAKERY </strong>
      <ion-badge color="success">Open Now</ion-badge> <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
    <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>HUNGRY JACKS BAKERY </strong>
      <ion-badge color="success">Open Now</ion-badge> <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
    <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>HUNGRY JACKS BAKERY </strong>
      <ion-badge color="success">Open Now</ion-badge> <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
    <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>HUNGRY JACKS BAKERY </strong>
      <ion-badge color="success">Open Now</ion-badge> <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
    <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>HUNGRY JACKS BAKERY </strong>
      <ion-badge color="success">Open Now</ion-badge> <ion-badge color="danger"> Closes : 10:00 PM</ion-badge> <br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
    <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>

</ion-card>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col><ion-icon name="settings-outline"></ion-icon></ion-col>
    <ion-col><ion-icon name="chatbox-ellipses-outline"></ion-icon></ion-col>
    <ion-col><ion-icon name="home-outline"  class="home-icon"></ion-icon></ion-col>
    <ion-col><ion-icon name="call-outline"></ion-icon></ion-col>
    <ion-col><ion-icon name="heart-outline"></ion-icon></ion-col>
  </ion-row>
</ion-footer>
