ion-content {
    --background: #122959;
    font-family: Comfortaa;
    color: #fff;
}

h5 
{
    color: #fff;
    text-align: center;
}

ion-datetime 
{
    border:1px solid #ccc;
}
ion-card-header 
{
    background: #efefef;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
}
ion-col 
{
    font-size: 12px;
}