<ion-content>
  <h5>Operating Hours</h5>
  <div style="margin-top:-5%">
    <img src="assets/step3.png">
    </div>
  
  <div class="details-div">
    <h6>Select Shop Timing</h6>
  <ion-card>

<ion-row>
   <ion-col>
    <h6>Opening Time</h6>
    <ion-datetime displayFormat="hh:mm A" value="2012-12-15T09:00:00.789"></ion-datetime>
   </ion-col>
    <ion-col>
      <h6>Closing Time</h6>
      <ion-datetime displayFormat="hh:mm A" value="2012-12-15T20:20:00.789"></ion-datetime>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col size="1.6" class="day-div">Mon</ion-col>
    <ion-col size="1.6" class="day-div">Tue</ion-col>
    <ion-col size="1.6" class="day-div">Wed</ion-col>
    <ion-col size="1.6" class="day-div">Thu</ion-col>
    <ion-col size="1.6" class="day-div">Fri</ion-col>
    <ion-col size="1.6" class="day-div">Sat</ion-col>
    <ion-col size="1.6" class="day-div">Sun</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="secondary" size="block">Submit</ion-button>
    </ion-col>
  </ion-row>
</ion-card>

<h6>Employees</h6>
<ion-card>
  <ion-row>
    <ion-col>
      <ion-item>
      <ion-input placeholder="Employee Name"></ion-input>
    </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
      
      <ion-input type="tel" placeholder="Phone No"></ion-input>
    </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Language</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="f">English</ion-select-option>
          <ion-select-option value="m">Telugu</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row style="text-align: center; float:right">
    <ion-button size="small" color="secondary">Add More</ion-button>
  </ion-row>
</ion-card>
</div>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col><ion-button size="block" routerLink="/businesscategory" color="light">Back</ion-button></ion-col>
    <ion-col><ion-button size="block" routerLink="/dashboard" color="warning">Submit</ion-button></ion-col>
  </ion-row>
</ion-footer>