<ion-header color="custom">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-grid>
      <ion-row class="record">
        <ion-col>
          <ion-title>Record</ion-title>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="search"></ion-icon>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="first">
    <ion-row class="top">
      <p>Call record</p>
      <p>Employee</p>
      <p>Consumer</p>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row>
      <ion-col class="img" size="2.3">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </ion-col>
      <ion-col class="name">
        <p>Sarah Walker</p>
        <ion-row class="text">
          <p>Lorem ipsum is Simply?</p>
        </ion-row>
      </ion-col>
      <ion-col class="time" size="2">
        <p>12:04PM</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row>
      <ion-col class="img" size="2.3">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </ion-col>
      <ion-col class="name">
        <p>Sarah Walker</p>
        <ion-row class="text">
          <p>Lorem ipsum is Simply?</p>
        </ion-row>
      </ion-col>
      <ion-col class="time" size="2">
        <p>12:04PM</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row>
      <ion-col class="img" size="2.3">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </ion-col>
      <ion-col class="name">
        <p>Sarah Walker</p>
        <ion-row class="text">
          <p>Lorem ipsum is Simply?</p>
        </ion-row>
      </ion-col>
      <ion-col class="time" size="2">
        <p>12:04PM</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row>
      <ion-col class="img" size="2.3">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </ion-col>
      <ion-col class="name">
        <p>Sarah Walker</p>
        <ion-row class="text">
          <p>Lorem ipsum is Simply?</p>
        </ion-row>
      </ion-col>
      <ion-col class="time" size="2">
        <p>12:04PM</p>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>