<ion-content>
  <ion-avatar>
    <img class="pic" src="https://img.wallpapersafari.com/desktop/1366/768/47/36/mb9WVN.jpg">
  </ion-avatar>

  <p>Calling</p>
  <p>Murali</p>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-icon class="icon" name="mic-off"></ion-icon>
          <p>Mute</p>
        </ion-col>
        <ion-col size="4">
          <ion-icon class="icon" name="keypad"></ion-icon>
          <p>Keypad</p>
        </ion-col>
        <ion-col size="4">
          <ion-icon class="icon" name="bluetooth"></ion-icon>
          <p>Bluetooth</p>
        </ion-col>
        <ion-col size="4">
          <ion-icon class="icon" name="pause"></ion-icon>
          <p>Hold</p>
        </ion-col>
        <ion-col size="4">
          <ion-icon class="icon" name="disc"></ion-icon>
          <p>Record</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-icon class="end" name="call"></ion-icon>
</ion-content>