<ion-header color="custom" mode="md">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Record</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <p>Total Viewed- <span>140</span></p>
    </ion-col>
    <ion-col>
      <div class="select">
        <ion-select placeholder="Select One" value="recent" interface="popover" mode="ios">
          <ion-select-option value="recent" selected>Recent</ion-select-option>
          <ion-select-option value="like">Viewed</ion-select-option>
          <ion-select-option value="favourites">Customer</ion-select-option>
          <ion-select-option value="comments">Favourites</ion-select-option>
          <ion-select-option>Call Records</ion-select-option>
          <ion-select-option>Employee</ion-select-option>
          <ion-select-option>Report</ion-select-option>
          <ion-select-option>Offer History</ion-select-option>
          <ion-select-option>Blocked</ion-select-option>
        </ion-select>
      </div>
    </ion-col>
  </ion-row>

  <ion-card class="first" routerLink="/chatbox">
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="name text-overflow">
        <p class="pclass">Sarah Walker</p>
        <ion-row class="text">
          <p class="pclass">Lorem ipsum is Simply?</p>
        </ion-row>
      </ion-col>
      <ion-col class="time text-overflow" size="2.8">
        <p>12:04PM</p>
        <ion-row class="badge">
          <ion-badge color="primary">1</ion-badge>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card routerLink="/chatbox">
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="name text-overflow">
        <p class="pclass">Sarah Walker</p>
        <ion-row class="text">
          <p class="pclass">Lorem ipsum is Simply?</p>
        </ion-row>
      </ion-col>
      <ion-col class="time text-overflow" size="2.8">
        <p>12:04PM</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card routerLink="/chatbox">
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="name text-overflow">
        <p class="pclass">Sarah Walker</p>
        <ion-row class="text">
          <p class="pclass">Lorem ipsum is Simply?</p>
        </ion-row>
      </ion-col>
      <ion-col class="time text-overflow" size="2.8">
        <p>12:04PM</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card routerLink="/chatbox">
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="name text-overflow">
        <p class="pclass">Sarah Walker</p>
        <ion-row class="text">
          <p class="pclass">Lorem ipsum is Simply?</p>
        </ion-row>
      </ion-col>
      <ion-col class="time text-overflow" size="2.8">
        <p>12:04PM</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card routerLink="/chatbox">
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="name text-overflow">
        <p class="pclass">Sarah Walker</p>
        <ion-row class="text">
          <p class="pclass">Lorem ipsum is Simply?</p>
        </ion-row>
      </ion-col>
      <ion-col class="time text-overflow" size="2.8">
        <p>12:04PM</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card routerLink="/chatbox">
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="name text-overflow">
        <p class="pclass">Sarah Walker</p>
        <ion-row class="text">
          <p class="pclass">Lorem ipsum is Simply?</p>
        </ion-row>
      </ion-col>
      <ion-col class="time text-overflow" size="2.8">
        <p>12:04PM</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card routerLink="/chatbox">
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="name text-overflow">
        <p class="pclass">Sarah Walker</p>
        <ion-row class="text">
          <p class="pclass">Lorem ipsum is Simply?</p>
        </ion-row>
      </ion-col>
      <ion-col class="time text-overflow" size="2.8">
        <p>12:04PM</p>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>