<ion-header color="custom">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="chevron-back" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Business</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let business of mybusiness; let i = index;">
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img class="border" src="{{business.logo}}" alt="">
        </ion-avatar>
      </div>
      <ion-col class="text-overflow" (click)="details(i)">
        <p class="user-name pclass">{{business.business_name}} <ion-icon name="shield-checkmark"></ion-icon>
        </p>
        <ion-row class="star">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <span>
            <p class="pclass">4.1 Ratings</p>
          </span>
        </ion-row>
        <p class="time pclass">CEO - {{business.owner_name}}</p>
      </ion-col>
      <ion-col size="1" class="ellipsis" (click)="openMenu()">
        <ion-icon class="btn" name="ellipsis-vertical"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="reg text-overflow">
        <p class="pclass">Free Package</p>
      </ion-col>
      <ion-col size="4" class="topup" routerLink="/plans">
        <ion-button>Plan</ion-button>
      </ion-col>
    </ion-row>

    <div class="chats scroll" (click)="views()">
      <ion-col>
        <p class="text">Viewed</p>
        <p class="number">{{viewedcnt}}</p>
      </ion-col>
      <ion-col class="sep" size="0.1"></ion-col>
      <ion-col>
        <p class="text">Enquiries</p>
        <p class="number">{{likescnt}}</p>
      </ion-col>
      <ion-col class="sep" size="0.1"></ion-col>
      <ion-col>
        <p class="text">Orders</p>
        <p class="number">{{reviewcnt}}</p>
      </ion-col>
      <ion-col class="sep" size="0.1"></ion-col>
      <ion-col class="calls">
        <p class="text">Favourite</p>
        <p class="number">{{favouritecnt}}</p>
      </ion-col>
    </div>
  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button class="fab" (click)="checkbusiness()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


<ion-footer mode="md" class="home-footer">
  <ion-row>
    <ion-col routerLink="/home">
      <ion-icon name="home"></ion-icon>
      <p class="click-footer">Home</p>
    </ion-col>
    <ion-col routerLink="/profile">
      <ion-icon name="person-outline"></ion-icon>
      <p>Profile</p>
    </ion-col>
    <ion-col routerLink="/qr-scanner">
      <ion-icon name="scan-outline"></ion-icon>
      <p>Scan</p>
    </ion-col>
    <ion-col routerLink="/favourites">
      <ion-icon name="heart-outline"></ion-icon>
      <p>Favourites</p>
    </ion-col>
    <ion-col routerLink="/calls">
      <ion-icon name="call-outline"></ion-icon>
      <p>Call</p>
    </ion-col>
  </ion-row>
</ion-footer>