<ion-content class="background">

  <div class="logo">
    <img src="assets/logo.png" width="30%">
  </div>

  <ion-row class="mt25-10">
    <ion-col>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="otp-text">
    <ion-col>Re send OTP</ion-col>
    <ion-col>1:32 Sec</ion-col>
  </ion-row>

  <ion-row class="mt-10 ">
    <ion-col class="text-center">
      <ion-col>
        <img src="assets/refresh.svg" routerLink="/otp">
      </ion-col>
    </ion-col>
  </ion-row>
</ion-content>
