<ion-content class="background">

  <div class="logo">
    <img src="assets/logo.png" width="30%">
  </div>

  <ion-row class="mt25-10">
    <ion-col>
      <ion-item>
        <ion-input [(ngModel)]="otp1" type="number" maxlength="1" #otp_1 (keyup)="gotoNextField(otp_2)" (keydown)="check()" ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-input [(ngModel)]="otp2" type="number" maxlength="1" #otp_2 (keyup)="gotoNextField(otp_3)" (keydown)="check()"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-input [(ngModel)]="otp3" type="number" maxlength="1" #otp_3 (keyup)="gotoNextField(otp_4)" (keydown)="check()"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-input [(ngModel)]="otp4" type="number" maxlength="1" #otp_4 (keyup)="check()"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="otp-text">
    <ion-col>Re send OTP</ion-col>
    <ion-col>1:32 Sec</ion-col>
  </ion-row>

  <ion-row class="mt-10 ">
    <ion-col class="text-center">
      <ion-col>
        <img src="assets/refresh.svg" (click)="checkotp()">
      </ion-col>
    </ion-col>
  </ion-row>
</ion-content>
