<ion-header color="custom">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add QR Reach</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="first">
    <ion-row class="row">
      <ion-col class="bg">
        <ion-avatar>
          <img src="{{uimg}}" alt="">
        </ion-avatar>
        <!--<img class="position-cam" src="assets/camera.svg" alt="">-->
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="second">
    <ion-row>
      <ion-col size="4">
        <p class="reach">Reach ID</p>
      </ion-col>
      <ion-col>
        <p class="id">{{this.rand}}</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="third">
    <ion-row>
      <p>Upload Image</p>
    </ion-row>
    <div class="scroll">
      <ion-card class="upload-card" (click)="image1()" *ngIf="img_img1">
      <img src="{{image1_img}}" />
      </ion-card>
      <ion-card class="upload-card" (click)="image1()" *ngIf="up_img1">
        <ion-icon name="cloud-upload-outline"></ion-icon>
        <p>upload image</p>
      </ion-card>

      <ion-card class="upload-card" (click)="image1()" *ngIf="img_img2">
        <img src="{{image2_img}}" />
        </ion-card>
      <ion-card class="upload-card" (click)="image2()" *ngIf="up_img2">
        <ion-icon name="cloud-upload-outline"></ion-icon>
        <p>upload image</p>
      </ion-card>

      <ion-card class="upload-card" (click)="image3()" *ngIf="img_img3">
        <img src="{{image3_img}}" />
        </ion-card>
      <ion-card class="upload-card" (click)="image3()" *ngIf="up_img3">
        <ion-icon name="cloud-upload-outline"></ion-icon>
        <p>upload image</p>
      </ion-card>

      <ion-card class="upload-card" (click)="image3()" *ngIf="img_img3">
        <img src="{{image3_img}}" />
        </ion-card>
      <ion-card class="upload-card" (click)="image3()" *ngIf="up_img3">
        <ion-icon name="cloud-upload-outline"></ion-icon>
        <p>upload image</p>
      </ion-card>

      <ion-card class="upload-card" (click)="image4()" *ngIf="img_img4">
        <img src="{{image4_img}}" />
        </ion-card>
      <ion-card class="upload-card" (click)="image4()" *ngIf="up_img4">
        <ion-icon name="cloud-upload-outline"></ion-icon>
        <p>upload image</p>
      </ion-card>
     
    </div>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-input placeholder="User Name"  [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="User Number" [(ngModel)]="mobile" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="User Mail ID" [(ngModel)]="email" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Purpose (vehicle)" [(ngModel)]="vehicle">
        <ion-select-option value="Bicycle">BiCycle </ion-select-option>
        <ion-select-option value="2 Wheeler">2 Wheeler</ion-select-option>
        <ion-select-option value="4 Wheeler">4 Wheeler</ion-select-option>
        <ion-select-option value="more than 4 Wheeler">More than 4 Wheeler</ion-select-option>
      </ion-select>
    </ion-item>
    
    <textarea class="text" placeholder="Enter Reg No.(TN 22 DH 0000)" [(ngModel)]="reg_number"></textarea>

    <ion-row>
      <ion-col class="nominee">
        <p>Nominee</p>
      </ion-col>
      <ion-col class="add">
        <p>
          <ion-icon name="add"></ion-icon> Add
        </p>
      </ion-col>
    </ion-row>
    <ion-input placeholder="Nominee Name" #nominee_name></ion-input>
    <hr>
    <ion-input placeholder="Contact no" #nomineecontact></ion-input>
    <hr>
  </ion-list>

  <ion-row>
    <ion-col>&nbsp;</ion-col>
    <ion-col>
      <ion-button expand="block" class="purple-btn" color="custom" (click)="Submit()">Submit</ion-button>
    </ion-col>
    <ion-col>&nbsp;</ion-col>
  </ion-row>

</ion-content>