<ion-header color="custom" mode="md">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>QR Payment</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="create-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img class="border"
            src="https://content3.jdmagicbox.com/comp/chennai/w1/044pxx44.xx44.121221101633.y3w1/catalogue/velavan-concrete-poonamallee-chennai-ht0zkb-250.jpg"
            alt="">
        </ion-avatar>
      </div>
      <ion-col class="text-overflow">
        <p class="user-name pclass">Velavan Concrete <ion-icon name="shield-checkmark"></ion-icon>
        </p>
        <ion-row class="star">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <span>
            <p>4.1 Ratings</p>
          </span>
        </ion-row>
        <p class="time pclass">Director-Aarumugam Swamy</p>
      </ion-col>
    </ion-row>
    <ion-row class="gpay">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Google_Pay_%28GPay%29_Logo_%282018-2020%29.svg/1280px-Google_Pay_%28GPay%29_Logo_%282018-2020%29.svg.png"
        alt="">
      <img class="qr"
        src="https://www.freepnglogos.com/uploads/qr-code-png/qr-code-code-sticker-transparent-png-svg-vector-19.png"
        alt="">
      <p class="phone">9751323485</p>
      <span class="note">Note: <span>check before payment scanning with the contact number and company</span></span>
    </ion-row>
  </ion-card>

  <ion-card class="second">
    <ion-row class="transaction">
      <ion-col class="transaction text-overflow" size="8">
        <p>Transaction</p>
      </ion-col>
      <ion-col class="date text-overflow" size="2.2">
        <p>05/08/2021</p>
      </ion-col>
      <ion-col class="date text-overflow" size="1.8">
        <p>11:45AM</p>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-input placeholder="User ID"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Enter User Paid Amount"></ion-input>
    </ion-item>
  </ion-card>

  <div class="buttn">
    <ion-button>Done</ion-button>
  </div>

</ion-content>