ion-content {
    --background: #122959;
    font-family: Comfortaa;
    color: #fff;
}
h5 
{
    color: #fff;
    text-align: center;
}
p 
{
    font-size: 70%;
    text-align: center;
    padding: 0 5px;
}

img {
    padding: 0 10% 0 10%;
}

ion-card
{
    margin: 0;
}