
<ion-content class="background">
  <div class="logo">
    <img src="assets/logo.png" width="30%">
  </div>


  <ion-item class="ion-item-cust">
    <!-- <ion-label position="floating">Password</ion-label> -->
    <ion-input type="number" autocomplete="off" max="10" [(ngModel)]="mobile" id="phone" placeholder="Mobile Number"></ion-input>
  </ion-item>

  <ion-item class="ion-item-cust">
    <!-- <ion-label position="floating">Password</ion-label> -->
    <ion-input type="Password" autocomplete="off" max="4" [(ngModel)]="mpin"  placeholder="Password"></ion-input>
  </ion-item>
  
  <ion-row class="mt-20">
    <ion-col class="text-center">
      <img src="assets/enter.svg" (click)="login()">
    </ion-col>
  </ion-row>

</ion-content>

