<ion-content>
<div class="curve-bg1">
  <img src="assets/logo.png" width="30%">
  <h3>Greetings !</h3>
</div>
<div class="curve-bg2">
  <ion-row>
    <ion-col style="text-align: center;">
      <img src="assets/profile.svg" width="40%">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h3>KIRAN <br>
      +91 888 6677801</h3>
    </ion-col>
  </ion-row>
 
</div>
<div class="curve-bg3">
  <h3>DIGITAL VISITNG CARD</h3>
  <p>Ready To Create</p>
</div>

<ion-row>
  <ion-col>
    <ion-button expand="block" class="purple-btn" color="custom" routerLink="/createdvc">Create</ion-button>
  </ion-col>
  <ion-col>
    <ion-button expand="full"  class="purple-bdr-btn"  color="custom" routerLink="/home">Later</ion-button>
  </ion-col>
</ion-row>

</ion-content>

