<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Enquiries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
<ion-row routerLink='/callenquiry'>
  <ion-col size="2"><img src="assets/customer_calls.png"></ion-col>
  <ion-col size="9"><p>Customer Calls</p></ion-col>
  <ion-col size="1"><ion-icon name="arrow-forward-outline"></ion-icon></ion-col>
</ion-row>
</ion-card>

<ion-card>
  <ion-row routerLink="/details">
    <ion-col size="2"><img src="assets/enquiry.png"></ion-col>
    <ion-col size="9"><p>Customer Eqnuiries (5)</p></ion-col>
    <ion-col size="1"><ion-icon name="arrow-forward-outline"></ion-icon></ion-col>
  </ion-row>
  </ion-card>

  <ion-card>
    <ion-row routerLink="/details">
      <ion-col size="2"><img src="assets/reviews.png"></ion-col>
      <ion-col size="9"><p>Customer Reviews (1)</p></ion-col>
      <ion-col size="1"><ion-icon name="arrow-forward-outline"></ion-icon></ion-col>
    </ion-row>
    </ion-card>

    <ion-card>
      <ion-row routerLink='/message'>
        <ion-col size="2"><img src="assets/chat.png"></ion-col>
        <ion-col size="9"><p>Customer Chats (5)</p></ion-col>
        <ion-col size="1"><ion-icon name="arrow-forward-outline"></ion-icon></ion-col>
      </ion-row>
      </ion-card>
</ion-content>
