
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2>Explore Categories</h2>
  <ion-card color="success">
<ion-row>
  <ion-col>
    <h4>Grocery / General Store <br><ion-icon name="chevron-forward-outline"></ion-icon></h4>
  </ion-col>
  <ion-col>
    <img src="assets/grocery.png">
  </ion-col>
</ion-row>
  </ion-card>
  

  <ion-card color="danger">
    <ion-row>
      <ion-col>
        <h4>Grocery / Personal Care <br><ion-icon name="chevron-forward-outline"></ion-icon></h4>
      </ion-col>
      <ion-col>
        <img src="assets/personal.png">
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card color="warning">
    <ion-row>
      <ion-col>
        <h4>Fruits & Veetables <br><ion-icon name="chevron-forward-outline"></ion-icon></h4>
      </ion-col>
      <ion-col>
        <img src="assets/fruits.png">
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card color="secondary">
    <ion-row>
      <ion-col>
        <h4>Milk & Milks Products <br><ion-icon name="chevron-forward-outline"></ion-icon></h4>
        
      </ion-col>
      <ion-col>
        <img src="assets/milk.png">
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
