ion-content {
    --background: #122959;
    font-family: Comfortaa;
    color: #fff;
}
h5 
{
    color: #fff;
    text-align: center;
}
ion-footer
{
    background: #eaeaea;
    height: 60px;
}
.logo-img
{
    width: 40%;
    text-align: center;
    display: block;
    margin: 0 auto;
}