
<ion-content>
  <h5>Business Images</h5>
  <h5>Upload Store / Service images which can help you <strong>attract More Customer</strong></h5>
  <ion-card>
    <ion-card-header>
      Business Logo
    </ion-card-header>
  <ion-row style="text-align:center">
     <ion-col>
       <img class="logo-img" src="assets/camera.png">
       <ion-button color="secondary">Upload / Take Photo</ion-button>
     </ion-col>
  </ion-row>
</ion-card>

<ion-card>
  <ion-row>
    <ion-col>Additional Images</ion-col>
  </ion-row>
<ion-row>
  <ion-col size="3">
    <img src="https://png.pngtree.com/png-vector/20191129/ourmid/pngtree-image-upload-icon-photo-upload-icon-png-image_2047546.jpg">
  </ion-col>
  <ion-col size="3">
    <img src="https://png.pngtree.com/png-vector/20191129/ourmid/pngtree-image-upload-icon-photo-upload-icon-png-image_2047546.jpg">
  </ion-col>
  <ion-col size="3">
    <img src="https://png.pngtree.com/png-vector/20191129/ourmid/pngtree-image-upload-icon-photo-upload-icon-png-image_2047546.jpg">
  </ion-col>
  <ion-col size="3">
    <img src="https://png.pngtree.com/png-vector/20191129/ourmid/pngtree-image-upload-icon-photo-upload-icon-png-image_2047546.jpg">
  </ion-col>
  <ion-col size="3">
    <img src="https://png.pngtree.com/png-vector/20191129/ourmid/pngtree-image-upload-icon-photo-upload-icon-png-image_2047546.jpg">
  </ion-col>
  <ion-col size="3">
    <img src="https://png.pngtree.com/png-vector/20191129/ourmid/pngtree-image-upload-icon-photo-upload-icon-png-image_2047546.jpg">
  </ion-col>
  <ion-col size="3">
    <img src="https://png.pngtree.com/png-vector/20191129/ourmid/pngtree-image-upload-icon-photo-upload-icon-png-image_2047546.jpg">
  </ion-col>
  <ion-col size="3">
    <img src="https://png.pngtree.com/png-vector/20191129/ourmid/pngtree-image-upload-icon-photo-upload-icon-png-image_2047546.jpg">
  </ion-col>
</ion-row>
<ion-row>
  <ion-col><ion-button color="secondary" size="block">Upload Images</ion-button></ion-col>
</ion-row>
</ion-card>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col><ion-button size="block" routerLink="/businesscategory" color="light">Back</ion-button></ion-col>
    <ion-col><ion-button size="block" routerLink="/businesstime" color="warning">Continue</ion-button></ion-col>
  </ion-row>
</ion-footer>