<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Business Images</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <ion-col>Business Logo</ion-col>
    </ion-row>
  <ion-row>
    <ion-col size="3">
      <img src="https://png.pngtree.com/png-vector/20191129/ourmid/pngtree-image-upload-icon-photo-upload-icon-png-image_2047546.jpg">
    </ion-col>
    <ion-col size="9" style="padding:10% 0">Drag image here or browse</ion-col>
  </ion-row>
</ion-card>

<ion-card>
  <ion-row>
    <ion-col>Store Entrance</ion-col>
  </ion-row>
<ion-row>
  <ion-col size="3">
    <img src="https://png.pngtree.com/png-vector/20191129/ourmid/pngtree-image-upload-icon-photo-upload-icon-png-image_2047546.jpg">
  </ion-col>
  <ion-col size="9" style="padding:10% 0">Drag image here or browse</ion-col>
</ion-row>
</ion-card>

<ion-card>
  <ion-row>
    <ion-col>Store Exterior</ion-col>
  </ion-row>
<ion-row>
  <ion-col size="3">
    <img src="https://png.pngtree.com/png-vector/20191129/ourmid/pngtree-image-upload-icon-photo-upload-icon-png-image_2047546.jpg">
  </ion-col>
  <ion-col size="9" style="padding:10% 0">Drag image here or browse</ion-col>
</ion-row>
</ion-card>

<ion-card>
  <ion-row>
    <ion-col>More Images</ion-col>
  </ion-row>
<ion-row>
  <ion-col size="3">
    <img src="https://png.pngtree.com/png-vector/20191129/ourmid/pngtree-image-upload-icon-photo-upload-icon-png-image_2047546.jpg">
  </ion-col>
  <ion-col size="9" style="padding:10% 0">Drag image here or browse</ion-col>
</ion-row>
</ion-card>
</ion-content>

<ion-footer>
  <ion-button size="block" color="warning" routerLink="/businesstime">Upload Photos</ion-button>
</ion-footer>