<ion-header color="custom" mode="md">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Velavan Concrete</ion-title>
    <ion-buttons slot="end" mode="md">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-buttons>
    <ion-row>
      <ion-col>
        <ion-card class="head-card">
          <ion-row>
            <ion-col size="4">
              <ion-input type="text" placeholder="Name"></ion-input>
            </ion-col>
            <ion-col class="border" size="2">
              <p>|</p>
            </ion-col>
            <ion-col size="6">
              <ion-input type="text" placeholder="Branch"></ion-input>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="2" class="searc">
        <p class="search">
          <ion-icon name="search-outline"></ion-icon>
        </p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row>
    <ion-col>
      <div class="select">
        <ion-select placeholder="Select One" value="recent" interface="popover" mode="ios">
          <ion-select-option value="recent" selected>Recents</ion-select-option>
          <ion-select-option value="like">Orders</ion-select-option>
          <ion-select-option value="favourites">Enquiry</ion-select-option>
          <ion-select-option value="comments">Customer</ion-select-option>
        </ion-select>
      </div>
    </ion-col>
  </ion-row>


  <ion-card class="first" routerLink="/chatbox">
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="text-overflow">
        <p class="user-name">Sarah Walker</p>
        <p class="time">Lorem ipsum is Simply?</p>
      </ion-col>
      <ion-col class="tim text-overflow" size="2.5">
        <p>12:04PM</p>
        <ion-row class="badge">
          <ion-badge color="primary">1</ion-badge>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card routerLink="/chatbox">
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="text-overflow">
        <p class="user-name">Sarah Walker</p>
        <p class="time">Lorem ipsum is Simply?</p>
      </ion-col>
      <ion-col class="tim text-overflow" size="2.5">
        <p>12:04PM</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card routerLink="/chatbox">
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="text-overflow">
        <p class="user-name">Sarah Walker</p>
        <p class="time">Lorem ipsum is Simply?</p>
      </ion-col>
      <ion-col class="tim text-overflow" size="2.5">
        <p>12:04PM</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card routerLink="/chatbox">
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="text-overflow">
        <p class="user-name">Sarah Walker</p>
        <p class="time">Lorem ipsum is Simply?</p>
      </ion-col>
      <ion-col class="tim text-overflow" size="2.5">
        <p>12:04PM</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card routerLink="/chatbox">
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="text-overflow">
        <p class="user-name">Sarah Walker</p>
        <p class="time">Lorem ipsum is Simply?</p>
      </ion-col>
      <ion-col class="tim text-overflow" size="2.5">
        <p>12:04PM</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card routerLink="/chatbox">
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="text-overflow">
        <p class="user-name">Sarah Walker</p>
        <p class="time">Lorem ipsum is Simply?</p>
      </ion-col>
      <ion-col class="tim text-overflow" size="2.5">
        <p>12:04PM</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card routerLink="/chatbox">
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="text-overflow">
        <p class="user-name">Sarah Walker</p>
        <p class="time">Lorem ipsum is Simply?</p>
      </ion-col>
      <ion-col class="tim text-overflow" size="2.5">
        <p>12:04PM</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card routerLink="/chatbox">
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="text-overflow">
        <p class="user-name">Sarah Walker</p>
        <p class="time">Lorem ipsum is Simply?</p>
      </ion-col>
      <ion-col class="tim text-overflow" size="2.5">
        <p>12:04PM</p>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>