<ion-content>
  <div class="back-img">
    <img src="assets/back.png">
  </div>
  
  <div class="logo">
    <img src="assets/logo.png"/>
  </div>

  <div class="selection-block">
    <ion-item>
      <ion-label>Language</ion-label>
      <ion-select placeholder="Select language">
        <ion-select-option value="english">English</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-button expand="block" color="danger" routerLink="/selectcategory">Next</ion-button>
  </div>
  

  <div class="footer-img">
    <img src="assets/footer-img.png" />
  </div>

</ion-content>

  