<ion-content>
  <div class="login-block" text-center>
    <img src="assets/logo.png">
  </div>
    
  <div class="signup-content">
    <p>Customise Your choice</p>    
    <div class="signup-form">
      <ion-item>
        <ion-label>Select Language</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="english">English</ion-select-option>
          <ion-select-option value="telugu">Telugu</ion-select-option>
        </ion-select>
      </ion-item>
    <br />
    <ion-item>
      <ion-label>Select Category</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="grocery">Grocery</ion-select-option>
        <ion-select-option value="food">Food</ion-select-option>
      </ion-select>
    </ion-item>
  <br />
      <ion-button color="primary" size="block">Continue</ion-button>
    </div>
  </div>
</ion-content>
  