<ion-header color="custom">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="firstbox">
    <ion-row class="inline">
      <ion-col size="12">
        <span class="date">04/29/2021</span>
        <span class="time">10.03AM</span>
      </ion-col>
    </ion-row>
    <ion-row class="img">
      <div class="avatar">
        <ion-avatar>
          <img src="https://img.wallpapersafari.com/desktop/1366/768/47/36/mb9WVN.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="title">
        <h5>Murali</h5>
        <ion-row class="carnum">
          <p>Vehicle</p>
        </ion-row>
        <ion-row class="carnum">
          <p>TN 22 DH 9133</p>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="firstbox">
    <ion-row class="inline">
      <ion-col size="12">
        <span class="date">04/29/2021</span>
        <span class="time">10.03AM</span>
      </ion-col>
    </ion-row>
    <ion-row class="img">
      <div class="avatar">
        <ion-avatar>
          <img src="https://img.wallpapersafari.com/desktop/1366/768/47/36/mb9WVN.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="title">
        <h5>Murali</h5>
        <ion-row class="carnum">
          <p>Vehicle</p>
        </ion-row>
        <ion-row class="carnum">
          <p>TN 22 DH 9133</p>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="firstbox">
    <ion-row class="inline">
      <ion-col size="12">
        <span class="date">04/29/2021</span>
        <span class="time">10.03AM</span>
      </ion-col>
    </ion-row>
    <ion-row class="img">
      <div class="avatar">
        <ion-avatar>
          <img src="https://img.wallpapersafari.com/desktop/1366/768/47/36/mb9WVN.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="title">
        <h5>Murali</h5>
        <ion-row class="carnum">
          <p>Vehicle</p>
        </ion-row>
        <ion-row class="carnum">
          <p>TN 22 DH 9133</p>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>