<ion-header color="custom">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>History</ion-title>
    <ion-buttons slot="end" (click)="openMenu()">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="firstbox">
    <ion-row class="inline">
      <ion-col size="12">
        <span class="date">04/29/2021</span>
        <span class="time">10.03AM</span>
      </ion-col>
    </ion-row>
    <ion-row class="img">
      <div class="avatar">
        <ion-avatar>
          <img src="https://img.wallpapersafari.com/desktop/1366/768/47/36/mb9WVN.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="title">
        <h5>Murali</h5>
        <ion-row class="carnum">
          <p>Vehicle</p>
        </ion-row>
        <ion-row class="carnum">
          <p>TN 22 DH 9133</p>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="firstbox">
    <ion-row class="inline">
      <ion-col size="12">
        <span class="date">04/29/2021</span>
        <span class="time">10.03AM</span>
      </ion-col>
    </ion-row>
    <ion-row class="img">
      <div class="avatar">
        <ion-avatar>
          <img src="https://img.wallpapersafari.com/desktop/1366/768/47/36/mb9WVN.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="title">
        <h5>Murali</h5>
        <ion-row class="carnum">
          <p>Vehicle</p>
        </ion-row>
        <ion-row class="carnum">
          <p>TN 22 DH 9133</p>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="firstbox">
    <ion-row class="inline">
      <ion-col size="12">
        <span class="date">04/29/2021</span>
        <span class="time">10.03AM</span>
      </ion-col>
    </ion-row>
    <ion-row class="img">
      <div class="avatar">
        <ion-avatar>
          <img src="https://img.wallpapersafari.com/desktop/1366/768/47/36/mb9WVN.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="title">
        <h5>Murali</h5>
        <ion-row class="carnum">
          <p>Vehicle</p>
        </ion-row>
        <ion-row class="carnum">
          <p>TN 22 DH 9133</p>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
<ion-footer mode="md" class="home-footer">
  <ion-row>
    <ion-col routerLink="/home">
      <ion-icon name="home-outline"></ion-icon>
      <p>Home</p>
    </ion-col>
    <ion-col routerLink="/profile">
      <ion-icon name="person-outline"></ion-icon>
      <p>Profile</p>
    </ion-col>
    <ion-col>
      <ion-icon name="scan-outline" class="click-footer"></ion-icon>
      <p class="click-footer">Scan</p>
    </ion-col>
    <ion-col routerLink="/favourites">
      <ion-icon name="heart-outline"></ion-icon>
      <p>Favourites</p>
    </ion-col>
    <ion-col routerLink="/calls">
      <ion-icon name="call-outline"></ion-icon>
      <p>Call</p>
    </ion-col>
  </ion-row>
</ion-footer>