<ion-header color="custom" mode="md">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pay Bills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <ion-card routerLink="/mobile-recharge">
          <ion-icon name="phone-portrait-outline"></ion-icon>
          <p>Mobile</p>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-icon name="calendar-clear-outline"></ion-icon>
          <p>Gas Bills</p>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-icon name="bulb-outline"></ion-icon>
          <p>Electricity</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-icon name="albums-outline"></ion-icon>
          <p>FastTag</p>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-icon name="recording-outline"></ion-icon>
          <p>DTH</p>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-icon name="call-outline"></ion-icon>
          <p>Landline</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-card>
          <ion-icon name="globe-outline"></ion-icon>
          <p>Broadband</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>