
<ion-content class="background">
  <div class="logo">
    <img src="assets/logo.png" width="30%">
  </div>

  <ion-item class="ion-item-cust">
    <ion-label position="floating">Name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-row class="mt-4">
    <ion-col size="4">
      <ion-item class="select-margin">
        <ion-select ok-text="OK" cancel-text="NO" value="ind">
          <ion-select-option value="ind">+91</ion-select-option>
          <ion-select-option value="lunix">+1</ion-select-option>
          <ion-select-option value="mac7">+65</ion-select-option>
          <ion-select-option value="mac8">+60</ion-select-option>
          <ion-select-option value="win3.1">+92</ion-select-option>
          <ion-select-option value="win95">+80</ion-select-option>
          </ion-select>
      </ion-item>
    </ion-col>
    <ion-col class="col-margin">
      <ion-item>
        <ion-input type="number" max="10"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  
  <ion-row class="mt-20">
    <ion-col class="text-center">
      <img src="assets/enter.svg" routerLink="/otp">
    </ion-col>
  </ion-row>

</ion-content>
