<ion-header color="custom">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
      <ion-menu-button mode="ios"></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="first-card">
    <img src="{{offimg}}" alt="" (click)="getPicture()">
  </ion-card>

  <ion-grid class="first-grid">
    <ion-row>
      <ion-item>
        <ion-input placeholder="Offer Title" [(ngModel)]="offer"></ion-input>
      </ion-item>
    </ion-row>
    <h5>Offer Tags</h5>
    <ion-row>
      <ion-textarea [(ngModel)]="tag">
        
      </ion-textarea>
    </ion-row>
   
    <ion-row>
      <ion-col size="6">
        <ion-label color="primary" >Start Date</ion-label>
        <ion-item>
          <ion-datetime default="YYYY-MM-DD" value="YYYY-MM-DD" displayFormat="YYYY-MM-DD" placeholder="Select Date" [(ngModel)]="from"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-label color="primary" >End Date</ion-label>
        <ion-item>
          <ion-datetime  default="YYYY-MM-DD" displayFormat="YYYY-MM-DD" placeholder="Select Date" [(ngModel)]="to"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="text">
      <ion-col>
        <ion-item>
          <ion-label color="primary" floating></ion-label>
          <ion-input type="text" placeholder="Enter Your Text" [(ngModel)]="desc"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-label color="primary" floating></ion-label>
        <ion-input type="text" placeholder="Actual Price" [(ngModel)]="actual_price"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-label color="primary" floating></ion-label>
        <ion-input type="text" placeholder="Discount" [(ngModel)]="discount_price"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="location">
      <ion-icon name="location-outline"></ion-icon> <span> Location</span>
    </ion-row>
    <ion-row class="check">
      <ion-col size="1">
        <ion-checkbox checked></ion-checkbox>
      </ion-col>
      <ion-col size="9">
        <p class="confirm">I agree for the <span>Terms and Conditions</span></p>
      </ion-col>
    </ion-row>
    <ion-row class="button">
      <ion-button (click)="submit()">Submit</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>