<ion-header color="custom">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-item>
    <ion-icon name="call-outline"></ion-icon>
    Call Topiko
  </ion-item>

  <ion-item>
    <ion-icon name="logo-whatsapp"></ion-icon>
    Message Topiko
  </ion-item>

  <ion-item>
    <ion-icon name="mail-outline"></ion-icon>
    Mail to Topiko
  </ion-item>



</ion-content>
