<ion-header color="custom" mode="md">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Connect</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="MianDiv" style="background: #fff;">
    <audio id="partner-video" (click)="swapVideo('my-video')" autoplay controls
    [ngClass]="{'top-video': topVideoFrame === 'partner-video', 'main-video': topVideoFrame != 'partner-video'}" style="display: none;">
</audio>
  <audio id="my-video" (click)="swapVideo('partner-video')" autoplay controls muted="muted"
    [ngClass]="{'top-video': topVideoFrame === 'my-video', 'main-video': topVideoFrame != 'my-video'}" style="display: none;">
</audio>
  <ion-card class="firstbox" *ngFor="let bu of business">
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img class="border" src="{{bu.logo}}" alt="">
        </ion-avatar>
      </div>
      <ion-col class="bgcolor text-overflow" size="7.5">
        <p>{{bu.business_name}} <ion-icon class="tick" name="shield-checkmark"></ion-icon>
        </p>
        <ion-row class="star">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <span>4.1 Ratings</span>
        </ion-row>
        <ion-row class="ceo text-overflow">
          <p>CEO-{{bu.owner_name}}</p>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" class="address">
        <p>Address</p>
        <ion-row class="addres">
          <p>
            {{bu.business_address}}, <br>
            {{bu.city}}-{{bu.pincode}},<br>
            {{bu.state}},
            {{bu.country}}.
          </p>
        </ion-row>
      </ion-col>
      <ion-col size="4" class="map">
        <img
          src="https://res.cloudinary.com/springboard-images/image/upload/q_auto,f_auto,fl_lossy/wordpress-india/2019/10/google-maps.jpg">
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-grid class="branches">
    <ion-row class="branch">
      <ion-select placeholder="{{firstbranch}}"interface="popover"  [(ngModel)]="branch" (ionChange)="branchemp($event)">
        <ion-select-option *ngFor="let br of branches"  value="{{br.id}}"  >{{br.branch_title}}</ion-select-option>
      </ion-select>
    </ion-row>
  </ion-grid>

  <ion-card class="secondbox" *ngFor="let emp of employees; let i = index">
    <ion-row>
      <ion-col class="title">
        <p>{{emp.name}}</p>
        <ion-row class="delivery">
          <p>{{emp.designation}}</p>
        </ion-row>
        <ion-row class="lang">
          <p>{{emp.language}}</p>
        </ion-row>
        <ion-row class="icon">
          <ion-col class="ico">
            <ion-fab-button color="light" (click)="chat(i)">
              <ion-icon name="chatbubbles-outline"></ion-icon>
            </ion-fab-button>
          </ion-col>
          <!-- <ion-col class="icons">
            <ion-fab-button color="light" (click)="video(i)">
              <ion-icon name="videocam-outline"></ion-icon>
            </ion-fab-button>
          </ion-col> -->
          <ion-col class="icn">
            <ion-fab-button color="light" (click)=" audio(i)">
              <ion-icon name="call-outline"></ion-icon>
            </ion-fab-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
</div>
<div *ngIf="AudioDiv" class="audio_div" style="background: green;">
  <audio id="partner-video" (click)="swapVideo('my-video')" autoplay controls
    [ngClass]="{'top-video': topVideoFrame === 'partner-video', 'main-video': topVideoFrame != 'partner-video'}" style="display: none;">
</audio>
  <audio id="my-video" (click)="swapVideo('partner-video')" autoplay controls muted="muted"
    [ngClass]="{'top-video': topVideoFrame === 'my-video', 'main-video': topVideoFrame != 'my-video'}" style="display: none;">
</audio>
<div id="errorMsg"></div>

<div class="audioDiv">
  <span  style="margin-top: 10%; margin-bottom: 50%;">
  <h1 class="bus">{{partnerId}}</h1>
  <h4 class="calling">Calling</h4>
</span>
<ion-grid>

  <ion-row>
    <ion-col size="4">
      <ion-icon class="call-icon" name="mic-off"></ion-icon>
      <p>Mute</p>
    </ion-col>
    <ion-col size="4">
      <ion-icon class="call-icon" name="volume-high-outline" (click)="SettoSpeaker();"></ion-icon>
      <p>Speaker</p>
    </ion-col>
    <ion-col size="4">
      <ion-icon class="call-icon" name="volume-mute-outline" (click)="Changeudio();"></ion-icon>
      <p>Speaker off</p>
    </ion-col>
</ion-row>

  <ion-row  *ngIf="outgng" style="margin-top: 40%; text-align: center;">
    <ion-fab-button color="danger" (click)="callend()" style="margin-left: 45%;">
      <ion-icon name="call"></ion-icon>
    </ion-fab-button>
  </ion-row>


  <ion-row *ngIf="incmng" style="margin-top: 30%;">
    <ion-col size="1"></ion-col>
    <ion-col size="2" style="text-align: left !important;">
      <ion-button color= "danger" (click)="callend()" style="width:50px; height:50px; border-radius: 17px; float: left;">
        <ion-icon name="call"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6"></ion-col>
    <ion-col size="2" style="text-align: right !important;">
      <ion-button  color="success" (click)="AnsCall()" style="width:50px; height:50px; border-radius: 17px; float: right;" >
        <ion-icon name="call"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-grid>
</div>
</div>
</ion-content>