<ion-header>
  <ion-toolbar color="custom">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-col class="title">
        <ion-title>Shop Here</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-segment>
    <ion-segment-button value="private">
      <ion-label>Private URL</ion-label>
    </ion-segment-button>
    <ion-segment-button value="shop">
      <ion-label>Shop</ion-label>
    </ion-segment-button>
  </ion-segment> -->

  <ion-card *ngFor="let shopurl of shopurls">
    <ion-row class="text-color">
      <p>{{shopurl.shopurl}}</p>
    </ion-row>
    <ion-row class="lorem">
      <p>{{shopurl.shopdesc}}
      </p>
    </ion-row>
  </ion-card>

 
</ion-content>