.user-name
{
    color:#22272A;
    font-size: 16px;
    line-height: 0;
}
.time
{
    color:#9F9F9F;
    font-size: 12px;
}
.chat-time
{
    color:#871178;
    font-size: 12px;
}

.select
{
    float: right;
    color: #871178;
}

.select-text
{
    color: #871178;
}
label
{
    color: #871178;
}

.select-icon
{
    width: 20px !important;
    height: 20px  !important;
    color: #871187 !important;
}