<ion-header color="custom">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" mode="md" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Recently Viewed</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="search" name=search-outline></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="4" *ngFor="let rec of recent;  let i=index" (click)="details(i)">
      <img *ngIf="rec.logo" src="{{rec.logo}}" class="icon-img-recent">
      <img *ngIf="rec.logo == ''" class="icon-img-recent" src="assets/logo-color.png"
        style="padding: 10px; background: #fafafa; border-radius: 3px;">
      <div class="img-title center text-center p-0" text-center>{{rec.business_name}}</div>
    </ion-col>
  </ion-row>

</ion-content>