<ion-header color="custom" mode="md">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Plan Details</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="first">
    <ion-row>
      <ion-col class="star" size="2">
        <ion-icon name="star-outline"></ion-icon>
      </ion-col>
      <ion-col class="annual">
        <p>Star</p>
        <p>Annually 999/-</p>
      </ion-col>
      <ion-col class="fwd" size="2">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>

  <h5>Per Call Tariff 3.50/-</h5>
  <ion-card class="second">
    <ion-row class="first-row">
      <ion-col class="feat" size="8">
        <p>Features</p>
      </ion-col>
      <ion-col class="status" size="4">
        <p>Status</p>
      </ion-col>
    </ion-row>
    <ion-row class="second-row">
      <ion-col class="left" size="8">
        <p><span>Two Months Free Trial</span></p>
      </ion-col>
      <ion-col class="right" size="4">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="second-row">
      <ion-col class="left" size="8">
        <p><span>100/-</span> In & Bound Call Benefits After Trail</p>
      </ion-col>
      <ion-col class="right" size="4">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="second-row">
      <ion-col class="left" size="8">
        <p>Default <span>1GB</span> space Operational Purpose</p>
      </ion-col>
      <ion-col class="right" size="4">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="second-row">
      <ion-col class="left" size="8">
        <p>Create A Business</p>
      </ion-col>
      <ion-col class="right" size="4">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="second-row">
      <ion-col class="left" size="8">
        <p>Products / Services / Branches</p>
      </ion-col>
      <ion-col class="right" size="4">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="second-row">
      <ion-col class="left" size="8">
        <p><span>Reach</span></p>
      </ion-col>
      <ion-col class="right" size="4">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="second-row">
      <ion-col class="left" size="8">
        <p>Topiko Listing & <span>Web listing 1year</span> update</p>
      </ion-col>
      <ion-col class="right" size="4">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="second-row">
      <ion-col class="left" size="8">
        <p>Verification <span>(Excluded Chargeable)</span></p>
      </ion-col>
      <ion-col class="right" size="4">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="second-row">
      <ion-col class="left" size="8">
        <p>Promotion / Showcase</p>
      </ion-col>
      <ion-col class="right" size="4">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="second-row">
      <ion-col class="left" size="8">
        <p>Customize <span>(Private URL"S Not Permitted)</span></p>
      </ion-col>
      <ion-col class="right" size="4">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>