ion-content 
{
    text-align: center;
}
img
{
    width: 70%;
    padding: 0;
}
p
{
    margin: 3px 0;
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 2px 0;
    border-radius: 5px;
    background: #5e1c57;
    color: #fff;
}

ion-footer
{
    height: 50px;
}