<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Employee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <ion-col>
        <ion-item>
        <ion-input placeholder="Employee Name"></ion-input>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
        
        <ion-input type="tel" placeholder="Phone No"></ion-input>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Language</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option value="f">English</ion-select-option>
            <ion-select-option value="m">Telugu</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; float:right">
      <ion-button size="small" color="secondary">Edit</ion-button>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row>
      <ion-col>
        <ion-item>
        <ion-input placeholder="Employee Name"></ion-input>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
        
        <ion-input type="tel" placeholder="Phone No"></ion-input>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Language</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option value="f">English</ion-select-option>
            <ion-select-option value="m">Telugu</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; float:right">
      <ion-button size="small" color="secondary">Edit</ion-button>
    </ion-row>
  </ion-card>
</ion-content>
