<ion-header>
  <ion-toolbar color="custom">
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="chevron-back" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Branches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getBranches()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let branch of branches; let i = index;">
    <ion-row>
      <ion-col size="8" class="address">
        <span style="color:#871178;">{{branch.branch_title}}</span>
        <p><b>Address :</b><br>
          {{branch.branch_address}}
          {{branch.branch_area}}
          {{branch.branch_city}}
          {{branch.branch_state}}
          {{branch.branch_pincode}}
          {{branch.branch_country}}
        </p>
        <span style="color: #871178;">{{branch.created_date}} - {{branch.created_time}}</span>
      </ion-col>
      <ion-col size="3">
        <img src="https://localsearchforum.com/attachments/maps-embed-api-example-png.3469/" class="img">
      </ion-col>
      <ion-col style="text-align: right;">
        <ion-icon name="ellipsis-vertical"  (click)="openMenu(i)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>

  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/addbranches">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>