<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <div class="side-head">
            <ion-row>
              <ion-col size="3" style="padding: 10px;">English</ion-col>
              <!-- <ion-col (click)="settings()" style="text-align: right;"><ion-icon name="cog-outline"></ion-icon></ion-col> -->
            </ion-row>
            <ion-row>
              <ion-col size="5"></ion-col>
              <ion-col>
                <ion-avatar *ngIf="uimage != ''"><img src="{{uimage}}"></ion-avatar>
                <span *ngIf="uimage == ''">
                  <p style="background: #00a56e; margin-left: -33%; position: absolute; font-size: 4em; color:#fff; text-align: center; width: 75px; height: 75px; padding:25%; border-radius:50%; margin-bottom: 7%;">{{uname | slice:0:1}}</p>
                </span>
              </ion-col>
              <ion-col size="5"></ion-col>
            </ion-row>
            <ion-row style="margin-top:25%">
              <ion-col>
                <h2>{{uname}}</h2>
                <p>{{ucity}}, {{ucountry}}</p>
              </ion-col>
            </ion-row>
         
        </div>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <!-- <ion-icon slot="start" [ios]="p.img + '-outline'" [md]="p.icon + '-sharp'"></ion-icon> -->
              <img style="width: 25px; height: 25px;" [src]="p.img">
              <ion-label style="margin-left: 5%;">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <div style="border-top: 1px solid #ccc;"></div>
        </ion-list>

        <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
