<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <div class="side-head">
            <ion-row>
              <!-- <ion-col size="3" style="padding: 10px;">English</ion-col> -->
              <ion-col size="4" style="padding: 10px;">
                <ion-select style=" --placeholder-opacity: 100%;" placeholder="English" value="viewed"
                  interface="popover">
                  <ion-select-option value="English">English</ion-select-option>
                  <ion-select-option value="Telugu">Telugu</ion-select-option>
                  <ion-select-option value="Tamil">Tamil</ion-select-option>
                  <ion-select-option value="Hindi">Hindi</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col (click)="settings()" style="text-align: right;">
                <ion-icon name="cog-outline"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5"></ion-col>
              <ion-col>
                <ion-avatar><img src="{{uimage}}"></ion-avatar>
              </ion-col>
              <ion-col size="5"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <h2>{{uname}}</h2>
                <p>{{ucity}}, {{ucountry}}</p>
              </ion-col>
            </ion-row>

          </div>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>