<ion-header color="custom" mode="md">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Employee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let emp of empdata; let i = index;">
  <ion-card class="first">
    <ion-row class="row">
      <ion-col class="bg">
        <ion-avatar>
          <img
            src="{{emp.image}}"
            alt="">
        </ion-avatar>
        <!-- <img class="position-cam" src="assets/camera.svg" alt=""> -->
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-grid>
    <p>
      <ion-item>
        <ion-input placeholder="Employee name" [(ngModel)]="name"></ion-input>
      </ion-item>
    </p>
    <p>
      <ion-item>
        <ion-input placeholder="Employee number"  [(ngModel)]="mobile"></ion-input>
      </ion-item>
    </p>
    <p>
      Designation Tags
      <ion-row>
        <ion-textarea  [(ngModel)]="designation">
          
        </ion-textarea>
      </ion-row>
    </p>
    <p>
      Language Support
      <ion-row>
        <ion-textarea [(ngModel)]="language">
        
        </ion-textarea>
      </ion-row>
    </p>
    <p>
      Online Tele Support
      <ion-row class="check">
        <ion-col>
          <ion-checkbox   [(ngModel)]="chat" (ionChange)="Chatstatus(chat)" ></ion-checkbox>
          <ion-label> Chat</ion-label>
        </ion-col>
        <ion-col>
          <ion-checkbox [(ngModel)]="video" (ionChange)="VideoStatus(video)" ></ion-checkbox>
          <ion-label> Video</ion-label>
        </ion-col>
        <ion-col>
          <ion-checkbox [(ngModel)]="call" (ionChange)="Callstatus(call)"></ion-checkbox>
          <ion-label> Call</ion-label>
        </ion-col>
      </ion-row>
    </p>
    
    <p>
      Delivery Support
      <ion-row class="check">
        <ion-col>
          <ion-checkbox [(ngModel)]="delivery" (ionChange)="Deliverystatus(delivery)"></ion-checkbox>
          <ion-label> Delivery</ion-label>
        </ion-col>
      </ion-row>
    </p>

    <ion-row class="tog">
      <p class="gps">Call Record Access</p>
      <ion-toggle checked [(ngModel)]="callrecord" (ionChange)="Recordstatus(callrecord)" mode="md"></ion-toggle>
    </ion-row>
    <ion-row class="tog">
      <p class="gps">Create Invoice</p>
      <ion-toggle checked mode="md" [(ngModel)]="invoice" (ionChange)="Invoicestatus(invoice)"></ion-toggle>
    </ion-row>
    <h6>Work Hour Settings</h6>
    <p>
      <ion-item>
        <ion-select placeholder="Working Hours"></ion-select>
      </ion-item>
    </p>
    <ion-row class="branches">
      <ion-col>
        <div class="select">
          <ion-select placeholder="Select One" value="recent" interface="popover" mode="ios">
            <ion-select-option value="recent" selected>Branches</ion-select-option>
            <ion-select-option value="like">Orders</ion-select-option>
            <ion-select-option value="favourites">Enquiry</ion-select-option>
            <ion-select-option value="comments">Customer</ion-select-option>
          </ion-select>
        </div>
      </ion-col>
    </ion-row>
    <ion-card class="card">
      <ion-row>
        <ion-col class="address">
          <p>Address</p>
          <ion-row class="add">
            <p>No-1/38 Parathiyar street moovara pet madipkkam Chennai-600091 TamilNadu - India</p>
          </ion-row>
        </ion-col>
        <ion-col size="4">
          <img
            src="https://play-lh.googleusercontent.com/0uRNRSe4iS6nhvfbBcoScHcBTx1PMmxkCx8rrEsI2UQcQeZ5ByKz8fkhwRqR3vttOg"
            alt="">
        </ion-col>
      </ion-row>
    </ion-card>
    <p class="sun">Sun water group payment QR</p>
    <p class="qr">
      <ion-icon name="qr-code-outline"></ion-icon>
    </p>
    <ion-row class="check">
      <ion-col size="1">
        <ion-checkbox checked></ion-checkbox>
      </ion-col>
      <ion-col size="9">
        <p class="confirm">I agree for the <span>Terms and Conditions</span></p>
      </ion-col>
    </ion-row>
    <ion-row class="btn">
      <ion-button (click)="update()">Submit</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>