<ion-header color="custom">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Employee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="firstcard" (click)="adduserImage()">
    <ion-row class="row">
      <ion-col class="bg">
          <ion-avatar (click)="getpicture()">
          <img src="assets/profile.png" />
          
        </ion-avatar>
        <img class="position-cam" src="assets/camera.svg" alt="" (click)="getPicture()">
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-grid>
    <p>
      <ion-item>
        <ion-input placeholder="Employee name" [(ngModel)]="name"></ion-input>
      </ion-item>
    </p>
    <p>
      <ion-item>
        <ion-input placeholder="Employee contact number" [(ngModel)]="mobile"></ion-input>
      </ion-item>
    </p>
    <p>
      Designation Tags
      <ion-row>
        <ion-textarea [(ngModel)]="tags" placeholder="add designations with comma seperated">

        </ion-textarea>
      </ion-row>
    </p>
    <p>
      Language Support
      <ion-row>
        <ion-textarea [(ngModel)]="language" placeholder="add languages with comma seperated">
        </ion-textarea>
      </ion-row>
    </p>
    <p>
      Online Tele Support
      <ion-row class="check">
        <ion-col>
          <ion-checkbox [(ngModel)]="chat" (ionChange)="Chatstatus(chat)"></ion-checkbox>
          <ion-label> Chat</ion-label>
        </ion-col>
        <ion-col>
          <ion-checkbox [(ngModel)]="video" (ionChange)="VideoStatus(video)"></ion-checkbox>
          <ion-label> Video</ion-label>
        </ion-col>
        <ion-col>
          <ion-checkbox [(ngModel)]="call" (ionChange)="Callstatus(call)"></ion-checkbox>
          <ion-label> Call</ion-label>
        </ion-col>
      </ion-row>
    </p>
   <!--  <p>
      Delivery Support
      <ion-row class="check" style="margin-bottom: 0%;">
        <ion-col>
          <ion-checkbox [(ngModel)]="delivery" (ionChange)="Deliverystatus(delivery)"></ion-checkbox>
          <ion-label> Delivery</ion-label>
        </ion-col>
      </ion-row>
    </p>

    <ion-row class="tog">
      <p class="gps">Call Record Access</p>
      <ion-toggle checked [(ngModel)]="callrecord" (ionChange)="Recordstatus(callrecord)" mode="md"></ion-toggle>
    </ion-row>
    <ion-row class="tog">
      <p class="gps">Create Invoice</p>
      <ion-toggle checked mode="md" [(ngModel)]="invoice" (ionChange)="Invoicestatus(invoice)"></ion-toggle>
    </ion-row>
 -->
    <!-- <h6>Work Hour Settings</h6>
    <ion-row>
      <ion-col>Monday</ion-col>
      <ion-col>From:
        <ion-item>
          <ion-select placeholder="Select One">
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>To: </ion-col>
    </ion-row> -->
    <ion-row class="branches">
      <ion-select placeholder="Branches" interface="popover" [(ngModel)]="branch">
        <ion-select-option *ngFor="let br of branches" value="{{br.id}}">{{br.branch_title}}</ion-select-option>
      </ion-select>
    </ion-row>
    <ion-card class="card">
      <ion-row>
        <ion-col class="address">
          <p>Address</p>
          <ion-row class="add">
            <p>{{address}}</p>
          </ion-row>
        </ion-col>
        <ion-col size="4">
          <img
            src="https://play-lh.googleusercontent.com/0uRNRSe4iS6nhvfbBcoScHcBTx1PMmxkCx8rrEsI2UQcQeZ5ByKz8fkhwRqR3vttOg"
            alt="">
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- <p class="sun">{{busines_name}} QR</p>
    <p class="qr">
      <ion-icon name="qr-code-outline" (click)="Qrimage()"></ion-icon>
    </p> -->
    <ion-row class="check">
      <ion-col size="1">
        <ion-checkbox></ion-checkbox>
      </ion-col>
      <ion-col size="9">
        <p class="confirm">I agree for the <span>Terms and Conditions</span></p>
      </ion-col>
    </ion-row>
    <ion-row class="btn">
      <ion-button (click)="submit()">Submit</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>