<ion-header>
  <ion-toolbar color="custom">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Digital Visiting Card</ion-title>
    <ion-buttons slot="end" class="create-icon">
     <ion-icon name="create-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="bcard-head">
Default
</div>

<div class="bcard-body">
  <p class="title">Proffesional</p>
  <p class="text">UI/UX Designer</p>

  <p class="title">Proffesional</p>
  <p class="text">UI/UX Designer</p>
</div>
</ion-content>
