<ion-header  *ngIf="calheader" color="custom" mode="md">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button mode="md" text="" icon="chevron-back" ></ion-back-button>
    </ion-buttons>
    <ion-row class="head-row">
      <ion-col><img src="assets/text-logo.png" width="80px"></ion-col>
    </ion-row>
    <ion-buttons slot="end">
      <ion-icon name="search-outline"></ion-icon>
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-segment *ngIf="calheader" value="all" color="secondary" mode="md" [(ngModel)]="segmentModel">

  <ion-segment-button value="calls">
    Calls
  </ion-segment-button>

  <ion-segment-button value="chats">
    Chats
  </ion-segment-button>
  <ion-segment-button value="B-chats">
   B-Chats
  </ion-segment-button>
</ion-segment>

<ion-content class="backg">

  <div *ngIf="segmentModel === 'calls'" class="margin">
    <div *ngIf= "MianDiv">
      <audio id="partner-video" (click)="swapVideo('my-video')" autoplay controls
        [ngClass]="{'top-video': topVideoFrame === 'partner-video', 'main-video': topVideoFrame != 'partner-video'}" style="display: none;">
    </audio>
      <audio id="my-video" (click)="swapVideo('partner-video')" autoplay controls muted="muted"
        [ngClass]="{'top-video': topVideoFrame === 'my-video', 'main-video': topVideoFrame != 'my-video'}" style="display: none;">
    </audio>
    <ion-item *ngFor="let con of calls; let i=index">
      <ion-row>
        <ion-col size="2">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="img-circle">
        </ion-col>
        <ion-col size="8" class="nametext">
        <span>{{con.name}}</span>
        <p *ngIf="con.caller_mobile==user_mobile"class="time" >Outgoing ({{con.start_time}})</p>
        <p *ngIf="con.calee_mobile==user_mobile"class="time" >Incoming ({{con.start_time}})</p>
        </ion-col>
        <ion-col size="2">
          <div style="text-align: right; padding-top: 40%;">
            <ion-icon  *ngIf="con.call_type=='audio'" name="call"  (click)="audiocall(i)" color="medium" slot="end" style="font-size: 20px;"></ion-icon>
            <ion-icon  *ngIf="con.call_type=='video'"  name="videocam"  (click)="videocall(i)" color="medium" slot="end" style="font-size: 20px;"></ion-icon>
           </div>
        </ion-col>
      </ion-row>
     
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/calls-contact" mode="md">
      <ion-fab-button>
        <ion-icon name="people-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
    <div *ngIf="AudioDiv" class="audio_div" style="background: green;">
        <audio id="partner-video" (click)="swapVideo('my-video')" autoplay controls
          [ngClass]="{'top-video': topVideoFrame === 'partner-video', 'main-video': topVideoFrame != 'partner-video'}" style="display: none;">
      </audio>
        <audio id="my-video" (click)="swapVideo('partner-video')" autoplay controls muted="muted"
          [ngClass]="{'top-video': topVideoFrame === 'my-video', 'main-video': topVideoFrame != 'my-video'}" style="display: none;">
      </audio>
      <div id="errorMsg"></div>
     
      <div class="audioDiv">
        <span  style="margin-top: 10%; margin-bottom: 50%;">
        <h1 class="bus">{{partnerId}}</h1>
        <h4 class="calling">Calling</h4>
      </span>
      <ion-grid>

        <ion-row>
          <ion-col size="4">
            <ion-icon class="call-icon" name="mic-off"></ion-icon>
            <p>Mute</p>
          </ion-col>
          <ion-col size="4">
            <ion-icon class="call-icon" name="volume-high-outline" (click)="SettoSpeaker();"></ion-icon>
            <p>Speaker</p>
          </ion-col>
          <ion-col size="4">
            <ion-icon class="call-icon" name="volume-mute-outline" (click)="Changeudio();"></ion-icon>
            <p>Speaker off</p>
          </ion-col>
    </ion-row>

        <ion-row  *ngIf="outgng" style="margin-top: 40%; text-align: center;">
          <ion-fab-button color="danger" (click)="callend()" style="margin-left: 45%;">
            <ion-icon name="call"></ion-icon>
          </ion-fab-button>
        </ion-row>


        <ion-row *ngIf="incmng" style="margin-top: 30%;">
          <ion-col size="1"></ion-col>
          <ion-col size="2" style="text-align: left !important;">
            <ion-button color= "danger" (click)="callend()" style="width:50px; height:50px; border-radius: 17px; float: left;">
              <ion-icon name="call"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6"></ion-col>
          <ion-col size="2" style="text-align: right !important;">
            <ion-button  color="success" (click)="AnsCall()" style="width:50px; height:50px; border-radius: 17px; float: right;" >
              <ion-icon name="call"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </ion-grid>
    </div>
    </div>
</div>
<div *ngIf="segmentModel === 'chats'" class="margin">
  <ion-item  *ngFor="let ccnt of chats; let i= index">
    <ion-row>
      <ion-col size="2">
        <img src="{{ccnt.image}}" class="img-circle">
        <img *ngIf='ccnt.image ==""' src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="img-circle">
      </ion-col>
      <ion-col size="9" class="text-overflow" (click)="chat(i)" style="margin-top: 5px;">
        <span class="nametext">{{ccnt.name}}</span>
        <p class="time" *ngIf="ccnt.online_status == 0">Last seen: {{ccnt.last_seen}}</p>
        <p class="time" *ngIf="ccnt.online_status == 1">Online</p>
      </ion-col>
      <ion-col size="1" class="chat-time">
       <div><span *ngIf="ccnt.unread_messages!= 0" class="online">{{ccnt.unread_messages}}</span></div>
      </ion-col>
    </ion-row>
  </ion-item>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/chats-contact">
    <ion-fab-button>
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>

  <div *ngIf="segmentModel === 'B-chats'" class="margin">
    <ion-card  *ngFor="let bchat of buchat; let i= index">
      <ion-row>
        <div class="avatar">
          <ion-avatar>
            <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
          </ion-avatar>
        </div>
        <ion-col class="text-overflow" (click)="businesschat(i)">
          <p class="user-name">{{bchat.chatroom}}</p>
          
        </ion-col>
        <ion-col size="3" class="chat-time">
         
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/chats-contact">
      <ion-fab-button>
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>

<ion-footer *ngIf="calheader" mode="md" class="home-footer">
  <ion-row>
    <ion-col (click)="GotoHome()">
      <ion-icon name="home-outline"></ion-icon>
      <p>Home</p>
    </ion-col>
    <ion-col routerLink="/profile">
      <ion-icon name="person-outline"></ion-icon>
      <p>Profile</p>
    </ion-col>
    <ion-col routerLink="/qr-scanner">
      <ion-icon name="scan-outline"></ion-icon>
      <p>Scan</p>
    </ion-col>
    <ion-col routerLink="/favourites">
      <ion-icon name="heart-outline"></ion-icon>
      <p>Favourites</p>
    </ion-col>
    <ion-col>
      <ion-icon name="call" class="click-footer"></ion-icon>
      <p class="click-footer">Call</p>
    </ion-col>
  </ion-row>
</ion-footer>