<ion-header color="custom">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
      <ion-menu-button mode="ios"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Edit Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="left">
        <ion-card class="first-card" (click)="getPicture()">
          <div *ngIf="pro_image == ''"  > Upload Image</div>
          <img  *ngIf="pro_image != ''" src="{{pro_image}}" alt="">
        </ion-card>
      </ion-col>
      <ion-col class="right">
        <ion-card class="second-card" (click)="getVideo()">
          <div *ngIf="video == null" >Upload Video</div>
          <img *ngIf="video != null" src="{{video}}" alt="">
        </ion-card>
        <ion-row class="pad">
          <ion-col class="left">
            <ion-card class="third-card"  (click)="getImg1()">
             <div *ngIf="img1 == null" > Upload </div>
            <img *ngIf="img1 != null" src="{{img1}}" alt="">
            </ion-card>
          </ion-col>
          <ion-col class="right">
            <ion-card class="third-card"  (click)="getImg2()">
              <div *ngIf="img2 == null" >Upload</div>
              <img *ngIf="img2 != null" src="{{img2}}" alt="">
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" class="left">
        <ion-card class="third-card"  (click)="getImg3()">
          <div *ngIf="img3 === null" > Upload </div>
          <img *ngIf="img3 != null" src="{{img3}}" alt="">
        </ion-card>
      </ion-col>
      <ion-col class="right">
        <ion-card class="third-card" (click)="getBanner()">
          <div *ngIf="banner == null" > Upload Banner</div>
          <img *ngIf="banner != null"  src="{{banner}}" alt="">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="second-grid">
    <p>
      <ion-item>
        <ion-input placeholder="Product Title" [(ngModel)]="producttitle"></ion-input>
      </ion-item>
    </p>
    <p>
      Product Tags
      <ion-row>
        <ion-textarea [(ngModel)]="producttags">
        </ion-textarea>
      </ion-row>
    </p>
    <p>
      <ion-item>
        <ion-input placeholder="Measuring Type" [(ngModel)]="measuringtype" readonly></ion-input>
      </ion-item>
    </p>
    <ion-row>
      <ion-textarea placeholder="Measuring Details" [(ngModel)]="measuringdetails" readonly>
      </ion-textarea>
    </ion-row>
    <p>
      Description
      <ion-row>
        <ion-textarea [(ngModel)]="description"></ion-textarea>
      </ion-row>
    </p>
    <p>
      <ion-item>
        <ion-input tpe="number" placeholder="Actual Price" [(ngModel)]="actualprice"></ion-input>
      </ion-item>
    </p>
    <p>
      <ion-item>
        <ion-input type="number" placeholder="Discount" [(ngModel)]="discount_price"></ion-input>
      </ion-item>
    </p>
    <!-- <p>
      <ion-row class="toggle">
        <ion-col>
          <p>Cash on Delivery</p>
        </ion-col>
        <ion-col size="2.5">
          <ion-toggle checked></ion-toggle>
        </ion-col>
      </ion-row>
    </p> -->
    <ion-row class="check">
      <ion-col size="1">
        <ion-checkbox checked></ion-checkbox>
      </ion-col>
      <ion-col size="9">
        <p class="confirm">I agree for the <span>Terms and Conditions</span></p>
      </ion-col>
    </ion-row>
    <ion-row class="btn">
      <ion-button (click)="submit()">Submit</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>