<ion-header color="custom">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Shops</ion-title>
    <ion-buttons slot="end">
      <ion-icon name=search></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-input type="text" [(ngModel)]="searchText"  class="form-control" placeholder="Search By Category" ></ion-input> -->

  <!-- <ion-row>
    <ion-col size="3" class="p-0" *ngFor="let shopn of shopsNear;  let i=index">
      <img *ngIf="shopn.logo" src="{{shopn.logo}}" class="icon-img" (click)="details(i)">
      <img *ngIf="shopn.logo == ''" class="icon-img" src="assets/logo.png"
        style="padding: 10px; background: #871178; border-radius: 25%;" (click)="details(i)">
      <div class="img-title center text-center p-0" text-center>{{shopn.business_name}}</div>
    </ion-col>
  </ion-row> -->

  <ion-label class="titl">TOPIKO Listed</ion-label>
  <ion-row class="margin-class" style="padding-top: 18px;">
    <ion-col size="4" class="p-0" *ngFor="let shopn of shopsNear; let i=index;" (click)="getdetials(i)">
      <img *ngIf="shopn.logo" src="{{shopn.logo}}" class="icon-img">
      <img *ngIf="shopn.logo == ''" class="icon-img" src="assets/logo-color.png"
        style="padding: 6px; background: #fafafa;">
      <div class="img-title center text-center p-0" text-center>{{shopn.business_name}}</div>
    </ion-col>
  </ion-row>

  <ion-label class="titl">Powered by Google</ion-label>
  <ion-row class="margin-class" style="padding-top: 18px;">
    <ion-col size="3" class="p-0" *ngFor="let list of listing;  let i=index" (click)="gdetails(i)">
      <img src="{{list.icon}}" class="icon-img1">
      <div class="img-title center text-center p-0" text-center>{{list.name}}</div>
    </ion-col>
  </ion-row>

  <ion-row class="margin-class">
    <ion-col class="col-mt-3" size="6" *ngFor="let pos2 of position2; let i = index;" (click)="pos2details(i)">
      <img class="bdr-rad-20" style="height:150px; width:100%" src="{{pos2.image}}">
      <ion-row>
        <ion-col class="img-title">
          {{pos2.business_name}} | {{pos2.city}}
        </ion-col>

      </ion-row>
    </ion-col>

  </ion-row>

  <ion-row class="margin-class">
    <ion-col class="col-mt-3" (click)="pos3details()">
      <img src="{{posbanner3}}" />
      <ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="margin-class">
    <ion-col class="col-mt-3" size="6" *ngFor="let pos4 of position4; let i = index;" (click)="pos4details(i)">
      <img class="bdr-rad-20" style="height:150px; width:100%" src="{{pos4.image}}" />
      <ion-row>
        <ion-col class="img-title">
          {{pos4.business_name}} | {{pos4.city}}
        </ion-col>
      </ion-row>
    </ion-col>

  </ion-row>

  <br>
  <div style="padding: 0px 17px 0px 17px;">
    <ion-slides pager="true">
      <ion-slide *ngFor="let pos5 of position5; let i = index;" (click)="pos5details(i)">
        <img src="{{pos5.image}}" style="border-radius: 10px;">
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>