<ion-header color="custom">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Terms & Condition</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <iframe width="100%" height="250" src="https://www.youtube.com/embed/hGLTkVmPd28" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  <h3>Digital Visiting Card</h3>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo corrupti debitis quia, pariatur assumenda cupiditate!
    Ipsam deleniti, expedita dolore ab nostrum error vero optio. Sit esse nostrum nam at ducimus?
    Impedit aliquid laboriosam ratione optio, est totam voluptatem asperiores illum soluta voluptate aliquam, fugit at,
    <br>
    exercitationem modi! Aliquid aspernatur, corrupti porro minus, ut nobis harum molestias voluptate, cum autem
    doloremque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi id hic accusamus non quia, qui
    perspiciatis quam possimus voluptatibus ratione. Dolore, maxime non. Dolorum labore quidem natus, facilis animi
    iusto?
    <br>
  </p>
 
  
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <ion-button expand="fill" class="purple-btn" color="custom" routerLink="/home">I Agree</ion-button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  
</ion-content>