<ion-header color="custom" mode="md">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="chevron-back" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Career</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="search-outline"></ion-icon>
      <ion-icon name="notifications-outline" routerlink="/notification"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="firs">
    <ion-row class="row">
      <ion-col class="bg">
        <ion-avatar>
          <img *ngIf="uimg"  src="{{uimg}}" alt="">
          <img *ngIf="uimg == ''" src="assets/logo-color.png" style="background: #fff; margin-top: 10%; border-radius: 10px; padding: 5px;">
        </ion-avatar>
       
      </ion-col>
    </ion-row>
    <ion-row class="details">
      <P class="name">{{uname}}</P>
    </ion-row>
    <ion-row class="details">
      <P class="number">{{umobile}}</P>
    </ion-row>
  </ion-card>

  <p class="dashboard">Dashboard</p>
  
  <ion-card class="first">
    <ion-row class="scroll" (click)="employee()">
      <ion-col size="9" style="font-size: 24px;">
        <p>Employee</p>
      </ion-col>
      <ion-col class="icons">
        <ion-fab-button color="light" routerLink="/resume">
          <ion-icon name="headset-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-card>

  

  
  
</ion-content>