ion-content {
    --background: #122959;
    font-family: Comfortaa;
    color: #fff;
}

ion-card 
{
    margin: 3px;
}

h5 
{
    color: #fff;
    text-align: center;
}

ion-footer
{
    background: #eaeaea;
    height: 60px;
}
.addmore
{
    text-align: right;
    padding: 10px;
}