<ion-header color="custom">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let product of products; let i = index;" (click)="productDetials(i)">
    <ion-row >
      <div class="avatar" >
        <ion-avatar>
          <img class="product-img" src="{{product.product_image}}">
        </ion-avatar>
      </div>
      <ion-col class="text-overflow">
        <p class="user-name pclass" (click)="productDetials(i)">{{product.title}}</p>
        <p class="time pclass">{{product.created_date}}</p>
        <p class="price-div pclass">Price - <span class="price">{{product.discount_price}}</span> <span
            class="ori_price">{{product.mrp}}</span></p>
        <p class="price-div pclass">Discount - <span class="discount">{{product.discount / product.mrp * 100 |
            number:'2.1-2'}}%off</span></p>
      </ion-col>
      <ion-col size="1" class="ellipsis" (click)="openMenu(i)">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="chats scroll">
      <ion-col>
        <p class="text">Shares</p>
        <p class="number">{{product.sharecnt}}</p>
      </ion-col>
      <ion-col class="sep" size="0.1"></ion-col>
      <ion-col>
        <p class="text">Likes</p>
        <p class="number">{{product.likecnt}}</p>
      </ion-col>
      <ion-col class="sep" size="0.1"></ion-col>
      <ion-col>
        <p class="text">Favourites</p>
        <p class="number">{{product.favcnt}}</p>
      </ion-col>
      <ion-col class="sep" size="0.1"></ion-col>
      <ion-col class="calls">
        <p class="text">Comments</p>
        <p class="number">{{product.cmtcnt}}</p>
      </ion-col>
    </ion-row>
  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab" routerLink="/add-product">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>