<ion-header>
  <ion-toolbar>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<!-- <ion-footer>
  <ion-row>
    <ion-col routerLink="/home" (click)="footerIconColor()">
      <ion-icon [style.color]="iconcolor" name="home" class="click-footer"></ion-icon>
      <p [style.color]="iconcolor" class="click-footer">Home</p>
    </ion-col>
    <ion-col routerLink="/profile" (click)="footerIconColor()">
      <ion-icon [style.color]="iconcolor" name="person-outline"></ion-icon>
      <p [style.color]="iconcolor">Profile</p>
    </ion-col>
    <ion-col routerLink="/qr-scanner" (click)="footerIconColor()">
      <ion-icon [style.color]="iconcolor" name="scan-outline"></ion-icon>
      <p [style.color]="iconcolor">Scan</p>
    </ion-col>
    <ion-col routerLink="/favourites" (click)="footerIconColor()">
      <ion-icon [style.color]="iconcolor" name="heart-outline"></ion-icon>
      <p [style.color]="iconcolor">Favourites</p>
    </ion-col>
    <ion-col routerLink="/calls" (click)="footerIconColor()">
      <ion-icon [style.color]="iconcolor" name="call-outline"></ion-icon>
      <p [style.color]="iconcolor">Call</p>
    </ion-col>
  </ion-row>
</ion-footer> -->