<ion-header color="custom" mode="md">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>QR Reach</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let qr of myqr; let i = index;">
    <ion-row>
      <div class="avatar"  (click)="qrdetails(i)">
        <ion-avatar>
          <img src="{{uimage}}" alt="" >
        </ion-avatar>
      </div>
      <ion-col  (click)="qrdetails(i)"> 
        <p class="user-name pclass">{{qr.name}}</p>
        <p class="time pclass">{{qr.purpose}}</p>
        <p class="time pclass">{{qr.registration_number}}</p>
      </ion-col>
      <ion-col size="1" class="ellipsis">
        <ion-icon name="ellipsis-vertical"  (click)="openMenu(i)"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="nominee">
      <p>Nominee</p>
    </ion-row>
    <div class="scroll">
      <p class="design">{{qr.nominee_name}}</p>
    </div>

  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-qr-reach">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>