
<ion-content padding>
  <h5>Business Details</h5>
<div>
<img src="assets/step1.png">
</div>
  <div class="details-div">
    Are you Lisitng 
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="3">
        <ion-card>
          <img src="assets/shop.png">
          Shop
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card>
          <img src="assets/service.png">
          Service
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-input placeholder="Business / Store Name"></ion-input>
    <ion-textarea class="textarea" placeholder="Details"></ion-textarea>
    <ion-input type="tel" placeholder="91 123456 7890"></ion-input>
    <ion-input type="text" placeholder="Address"></ion-input>
  </div>
  </ion-content>

  <ion-footer>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><ion-button size="block" routerLink="/businesscategory" color="warning">Continue</ion-button></ion-col>
    </ion-row>
    
  </ion-footer>