
<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-label position="stacked">Business / Store Name</ion-label>
    <ion-input></ion-input>
    </ion-col>
  </ion-row>
   
  
   <ion-label position="stacked">Description</ion-label>
    <ion-textarea class="textarea"></ion-textarea>

    <ion-label position="stacked">Business / Store Name</ion-label>
    <ion-input type="tel"></ion-input>

    <ion-label position="stacked">Business Location</ion-label>
    <ion-input></ion-input>

    <ion-button size="block" routerLink="/businesscategory" color="warning">Add Details</ion-button>
  
  </ion-content>