<ion-header color="custom" mode="md">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Resume</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-row class="inline">
      <span class="date">04/29/2021</span>
      <span class="dat">10.03AM</span>
    </ion-row>
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="text-overflow">
        <p class="user-name">Murali</p>
        <p class="time">UI and UX designer</p>
        <p class="time">+91 9884256242</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row class="inline">
      <span class="date">04/29/2021</span>
      <span class="dat">10.03AM</span>
    </ion-row>
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="text-overflow">
        <p class="user-name">Murali</p>
        <p class="time">UI and UX designer</p>
        <p class="time">+91 9884256242</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row class="inline">
      <span class="date">04/29/2021</span>
      <span class="dat">10.03AM</span>
    </ion-row>
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </div>
      <ion-col class="text-overflow">
        <p class="user-name">Murali</p>
        <p class="time">UI and UX designer</p>
        <p class="time">+91 9884256242</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/add-resume">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>