ion-title {
    font-size: 16px;
    color: #ffffff;
    padding: 0px;
    padding-top: 1px;
    letter-spacing: 0.6px;
    text-align: left;
}

ion-content {
    --padding-bottom: 80px;
    --padding-start: 18px;
    --padding-end: 18px;
}
ion-card {
    margin: 0.75em 0px;
    padding: 7px;
    box-shadow: 0px 3px 6px #00000029;
}
.avatar ion-avatar {
    width: 64px;
    height: 64px;
}
.user-name {
    color: #22272a;
    font-size: 18px;
    margin: 0px;
}
.time {
    color: #9f9f9f;
    font-size: 12px;
    margin: 0px;
}
p {
    font-size: 12px;
    color: #9f9f9f;
    margin: 0%;
    line-height: 18px;
}
.inline {
    width: 100%;
    font-size: 0.625em;
    color: #871178;
    letter-spacing: 0.0375em;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.date {
    margin-right: 0.75em;
}
.dat {
    margin: 0%;
}

// fab
ion-fab-button {
    --background: linear-gradient(#871178, #3c1378);
    --color: #ffffff;
    height: 65px;
    width: 65px;
}
ion-fab-button ion-icon {
    color: #ffffff;
    font-size: 46px;
}
