<ion-header>
  <ion-toolbar color="custom">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>View More</ion-title>
    <ion-buttons slot="end" class="create-icon">
      <ion-icon name="ellipsis-vertical" color="custom"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="width: 90%; margin: 0 auto;">
    <ion-col>
      <img src="assets/rotate.svg" >
    </ion-col>
    <ion-col style="font-size: 18px; text-align: center;" size="8">Default</ion-col>
    <ion-col style="text-align: right;">
      <img src="assets/docs.svg" >
    </ion-col>
  </ion-row>
  
  
  <div class="vertical" id="vertical">
  <ion-card  style="background:url(assets/vertical-front.jpg); background-position: cover; background-size: 100%;">
    <ion-row class="text-center">
      <ion-col style="text-align: left; padding-top: 10px;" size="4">
        <img src="assets/logo.png" width="50%">
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col size="12">
            <img src="assets/profile.png" width="45%">
          </ion-col>
          <ion-col size="12" class="name">
            JAGAN KARTHI.G
          </ion-col>
          <ion-col size="12" class="phone">
            +91 988134832
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card  style="background:url(assets/vertical-back.jpg); background-position: cover; background-size: 100%;">
    <ion-row>
      <ion-col>
        <div class="comp-title">CMSSWIFI PVT LTD</div>
        <ion-row>
          <ion-col>
            <img class="bdr" src="assets/map-marker.svg">
            <div class="content-text">
              No-13 iyangar nagar 3rd cr st madipakkam chennai-600088
            </div>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img class="bdr" src="assets/call.svg">
            <div class="content-text">+91 988134832</div>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img class="bdr" src="assets/email.svg">
            <div class="content-text">Someone@example.com</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon name="logo-linkedin"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon name="globe-outline"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon name="logo-youtube"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col  style="text-align: right;">
        <ion-row>
          <ion-col>
            <h5>Business Analyst</h5>
            <h5>CEO</h5>
          </ion-col>
        </ion-row>
        <ion-row style="padding-top: 32%;">
          <ion-col>
            <img src="assets/logo.png" width="30%">
          </ion-col>
        </ion-row>
      </ion-col>
     
    </ion-row>
    </ion-card>
  </div>

 

  <div class="horizontal" id="horizontal">
    <ion-card  style="background:url(assets/horizontal-front.jpg); background-position: cover; background-size: 100%;">
      <ion-row class="text-center">
        <ion-col style="text-align: right; padding-top: 10px;" size="12">
          <img src="assets/logo.png" width="20%">
        </ion-col>
        <ion-col>
          <ion-row style="margin-top: 20%; margin-bottom:37% ;">
            <ion-col size="12">
              <img src="assets/profile.png" width="45%">
            </ion-col>
            <ion-col size="12" class="name">
              JAGAN KARTHI.G
            </ion-col>
            <ion-col size="12" class="phone">
              +91 988134832
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
  
    <ion-card  style="background:url(assets/horizontal-back.jpg); background-position: cover; background-size: 100%; padding: 0 5% 16% 5%; ">
      <ion-row>
        
        <ion-col>
          <ion-row style="text-align: right;">
            <ion-col>
              <img src="assets/logo.png" width="30%">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h5>Business Analyst</h5>
              <h5>CEO</h5>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="horizontal-comp-title">CMSSWIFI PVT LTD</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img class="bdr" src="assets/map-marker.svg">
          <div class="content-text">
            No-13 iyangar nagar 3rd cr st madipakkam chennai-600088
          </div>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img class="bdr" src="assets/call.svg">
          <div class="content-text">+91 988134832</div>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img class="bdr" src="assets/email.svg">
          <div class="content-text">Someone@example.com</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="logo-linkedin"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="globe-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="logo-youtube"></ion-icon>
        </ion-col>
      </ion-row>
      </ion-card>
    </div>
  
    <div class="price">
      250 /-
    </div>

  <div class="text-center" class="pb-15">
  <ion-checkbox color="success" checked></ion-checkbox> I Agree for the <span>Terms and Conditions</span>
</div>
 
<ion-row>
 
  <ion-col>
    <ion-button expand="block" class="purple-btn" color="custom" routerLink="/home">Buy</ion-button>
  </ion-col>
</ion-row>
</ion-content>
