<ion-header color="custom">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-grid>
      <ion-row class="cont">
        <ion-col>
          <ion-title>Plans</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="firstcard">
    <ion-row class="row">
      <ion-col class="bg">
        <ion-avatar>
          <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="">
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row class="details">
      <P class="name">Sun Group Water</P>
    </ion-row>
    <ion-row class="details">
      <P class="number">+91 988134832</P>
    </ion-row>
    <ion-row class="details">
      <p class="ceo">CEO-Murali</p>
    </ion-row>
  </ion-card>

  <ion-card class="second-card">
    <ion-row>
      <ion-col class="left">
        <p>Current Plan</p>
      </ion-col>
      <ion-col class="right">
        <p>05/26/2021 <span>11:30AM</span></p>
      </ion-col>
    </ion-row>
    <ion-row class="border">
      <ion-col class="star" size="2">
        <ion-icon name="star-outline"></ion-icon>
      </ion-col>
      <ion-col class="annual">
        <p>Star</p>
        <p>Annually 999/-</p>
      </ion-col>
    </ion-row>
    <ion-row class="second-row">
      <ion-col>
        <p>Star</p>
        <p>999/-</p>
      </ion-col>
      <ion-col>
        <ion-icon name="swap-horizontal-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <p>Store</p>
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <h5>5,399/-</h5>
    <ion-row>
      <ion-col>
        <p class="note"><span>Note:</span> Within 8months transfer of any plan 600 deduction is Applicable</p>
      </ion-col>
    </ion-row>
    <ion-row class="check">
      <ion-col size="1">
        <ion-checkbox checked></ion-checkbox>
      </ion-col>
      <ion-col size="9">
        <p class="confirm">I agree for the <span>Terms and Conditions</span></p>
      </ion-col>
    </ion-row>
    <ion-row class="button">
      <ion-button>Submit</ion-button>
    </ion-row>
  </ion-card>
</ion-content>