<ion-header>
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
      <ion-menu-button mode=ios></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit QR Reach</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="first">
    <ion-row class="row">
      <ion-col class="bg">
        <ion-avatar>
          <img
            src="{{uimage}}"
            alt="">
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="second">
    <ion-row>
      <ion-col size="3">
        <p class="reach">Reach ID</p>
      </ion-col>
      <ion-col>
        <p class="id">{{this.qrid}}</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="image-card">
    <ion-row>
      <p>Image</p>
    </ion-row>
    <div class="scroll">
      <img src="{{image1}}" alt="">
      <img src="{{image2}}" alt="">
      <img src="{{image3}}" alt="">
      <img src="{{image4}}" alt="">
    </div>
  </ion-card>

  <ion-card class="third">
    <ion-row class="heading">
      <p>User Name</p>
    </ion-row>
    <ion-row class="ans">
      <ion-item>
      <ion-input value="{{name}}" [(ngModel)]="name"></ion-input>
    </ion-item>
    </ion-row>
    <ion-row class="heading">
      <p>User Number</p>
    </ion-row>
    <ion-row class="ans">
      <ion-item>
      <ion-input value="{{mobile}}" [(ngModel)]="mobile"></ion-input>
    </ion-item>
    </ion-row>
    <ion-row class="heading">
      <p>User Mail ID</p>
    </ion-row>
    <ion-row class="ans">
      <ion-item>
      <ion-input value="{{email}}" [(ngModel)]="email"></ion-input>
    </ion-item>
    </ion-row>
    <ion-row class="heading">
      <p>Purpose (Vehicle)</p>
    </ion-row>
    <ion-row class="ans">
      <ion-col size="12">
        <h6>Vehicle</h6>
      </ion-col>
      <ion-col size="12">
        <h6>By Cycle</h6>
      </ion-col>
      <ion-col size="12">
        <ion-item>
        <ion-input value="{{registration_number}}" [(ngModel)]="registration_number"></ion-input>
      </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="heading">
      <p>Nominee Name</p>
    </ion-row>
    <ion-row class="ans">
      <ion-item>
      <ion-input value="{{nominee_name}}" [(ngModel)]="nominee_name"></ion-input>
    </ion-item>
    </ion-row>
    <ion-row class="heading">
      <p>Contact No</p>
    </ion-row>
    <ion-row class="ans">
      <ion-item>
      <ion-input value="{{nominee_mobile}}" [(ngModel)]="nominee_mobile"></ion-input>
    </ion-item>
    </ion-row>
  </ion-card>

  

 

  <ion-grid class="last-grid">
    <ion-row>
      <ion-col class="left">
        <p>Payment History</p>
      </ion-col>
      <ion-col class="right">
        <p routerLink="/choose">Choose</p>
      </ion-col>
    </ion-row>
    <ion-row class="button">
      <ion-col class="lef">
        <ion-button>Download</ion-button>
      </ion-col>
      <ion-col class="righ">
        <ion-button (click)="update()">Update</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>