<ion-header color="custom">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Offers</ion-title>
    <ion-buttons slot="end">
      <ion-icon name=search-outline></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-row>
    <ion-col size="3" class="p-0"  *ngFor="let offn of offersNear; let i=index"  (click)="offersdetails(i)">
      <img *ngIf="offn.image" class="icon-img" src="{{offn.image}}">
      <img *ngIf="offn.image == ''" class="icon-img" src="assets/logo-color.png" style="padding: 10px; background: #fafafa; border-radius: 25%;">
      <div class="img-title center text-center p-0" text-center>{{offn.offer}}</div>
    </ion-col>
  </ion-row> -->

  <ion-row>
    <ion-col size="4" class="p-0" *ngFor="let offn of offersNear; let i=index" (click)="offersdetails(i)"
      style="padding: 6px; padding-bottom: 10px;">
      <img *ngIf="offn.image" class="icon-img" src="{{offn.image}}">
      <img *ngIf="offn.image == ''" class="icon-img" src="assets/logo-color.png" style="background: #fafafa;">
      <div class="img-title center text-center p-0" text-center>{{offn.offer}}</div>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col class="col-mt-3" size="6" *ngFor="let pos2 of position2; let i = index;" (click)="pos2details(i)">
      <img class="bdr-rad-20" style="height:150px; width:100%" src="{{pos2.image}}">
      <ion-row>
        <ion-col class="img-title">
          {{pos2.business_name}} | {{pos2.city}}
        </ion-col>
        <div class="hearticon-div">
          <ion-icon class="heart-icon" name="heart"></ion-icon>
        </div>
        <ion-col size="2" class="count text-overflow">389</ion-col>
      </ion-row>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col class="col-mt-3" (click)="pos3details()">
      <img src="{{posbanner3}}" />
      <ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="col-mt-3" size="6" *ngFor="let pos4 of position4; let i = index;" (click)="pos4details(i)">
      <img class="bdr-rad-20" style="height:150px; width:100%" src="{{pos4.image}}" />
      <ion-row>
        <ion-col class="img-title">
          {{pos4.business_name}} | {{pos4.city}}
        </ion-col>
        <div class="hearticon-div">
          <ion-icon class="heart-icon" name="heart"></ion-icon>
        </div>
        <ion-col size="2" class="count text-overflow">389</ion-col>
      </ion-row>
    </ion-col>

  </ion-row>

  <br>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let pos5 of position5; let i = index;" (click)="pos5details(i)">
      <img src="{{pos5.image}}" style="border-radius: 10px;">
    </ion-slide>
  </ion-slides>
</ion-content>