<ion-content style="padding:10em">
  <ion-label color="light">Select Category</ion-label>
  <div>
  <ion-row>
    <ion-col>
      <ion-badge color="danger" size="medium">Category Name</ion-badge>
    </ion-col>
  </ion-row>
</div>
  <ion-label color="light">Select Services</ion-label>
  <div>
  <ion-row>
    <ion-col>
      <ion-badge color="danger" size="medium">Service Name</ion-badge>
    </ion-col>
  </ion-row>
</div>

<ion-button expand="block" color="danger" routerLink="/home">Submit</ion-button>

  

  <div class="footer-img">
    <img src="assets/footer-img.png" />
  </div>

</ion-content>

  