<ion-content style="padding:10em">
  <div style="padding:10px 0 0 10px">
  <ion-label color="light">Select Category</ion-label>
</div>
  <div style="padding:5px">
  <ion-row>
    <ion-col>
      <ion-chip color="light">
        <ion-label>Category Name</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
</div>
<div style="padding:10px 0 0 10px">
  <ion-label color="light">Select Services</ion-label>
</div>
  <div style="padding:5px">
  <ion-row>
    <ion-col>
      <ion-chip color="light">
        <ion-label>Service Name</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
</div>
<div style="margin:0 auto; width:90%">
<ion-button expand="block" color="danger" routerLink="/home">Submit</ion-button>
</div>

  

  <div class="footer-img">
    <img src="assets/footer-img.png" />
  </div>

</ion-content>

  