ion-content {
    --background: #122959;
    font-family: Comfortaa;
    color: #fff;
}
.check-box
{
    padding-top: 15px;
    text-align: right;
}
.social-text
{
    padding: 15px;
    font-size: 12px;
}

h5 
{ 
    color: #fff;
}

.details-div
{
    background: #607d8b;
    position: absolute;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    height: 70%;
}