
<ion-content>
 
  <div>
    <img src="assets/social.png">
  </div>
  <ion-row>
    <ion-col size="3">
      <ion-back-button></ion-back-button>
    </ion-col>
    <ion-col>
     
    </ion-col>
  </ion-row>
  <div class="details-div">
<ion-card>
  <ion-row>
    <ion-col size="2">
      <img src="assets/google.png">
    </ion-col>
    <ion-col class="social-text">
      Google maps<br>
      <a href="#">Why Sync Google maps</a>
    </ion-col>
    <ion-col size="2" class="check-box"><ion-checkbox></ion-checkbox></ion-col>
  </ion-row>
</ion-card>

<ion-card>
  <ion-row>
    <ion-col size="2">
      <img src="assets/facebook.png">
    </ion-col>
    <ion-col class="social-text">
      Facebook Page<br>
      <a href="#">Why Sync Facebook Page</a>
    </ion-col>
    <ion-col size="2" class="check-box"><ion-checkbox></ion-checkbox></ion-col>
  </ion-row>
</ion-card>

<ion-card>
  <ion-row>
    <ion-col size="2">
      <img src="assets/whatsapp.png">
    </ion-col>
    <ion-col class="social-text">
      Whatsapp<br>
      <a href="#">Why Sync on Whstapp</a>
    </ion-col>
    <ion-col size="2" class="check-box"><ion-checkbox></ion-checkbox></ion-col>
  </ion-row>
</ion-card>

<ion-card>
  <ion-row>
    <ion-col size="2">
      <img src="assets/twitter.png">
    </ion-col>
    <ion-col class="social-text">
      Twitter Profile<br>
      <a href="#">Why Sync on Twitter Profile</a>
    </ion-col>
    <ion-col size="2" class="check-box"><ion-checkbox></ion-checkbox></ion-col>
  </ion-row>
</ion-card>
</div>
</ion-content>

<ion-footer>
  <ion-button size="block" color="warning" routerLink="/dashboard">Sync Social media</ion-button>
</ion-footer>