<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="1"><ion-icon name="arrow-back-outline"></ion-icon></ion-col>
      <ion-col text-left><ion-title>Favourites</ion-title></ion-col>
    </ion-row>
    <ion-searchbar placeholder='Search Favourites'></ion-searchbar> 
  </ion-toolbar>
  
</ion-header>
<ion-content>

<ion-card>
  <ion-row>
    <ion-col size="2">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>Sri Balaji Rice Depot</strong><br><br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
   <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
</ion-card>

<ion-card>
  <ion-row>
    <ion-col size="2">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>Sri Balaji Rice Depot</strong><br><br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
   <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
</ion-card>

<ion-card>
  <ion-row>
    <ion-col size="2">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>Sri Balaji Rice Depot</strong><br><br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
   <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
</ion-card>

<ion-card>
  <ion-row>
    <ion-col size="2">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>Sri Balaji Rice Depot</strong><br><br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
   <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
</ion-card>

<ion-card>
  <ion-row>
    <ion-col size="2">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>Sri Balaji Rice Depot</strong><br><br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
   <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
</ion-card>

<ion-card>
  <ion-row>
    <ion-col size="2">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>Sri Balaji Rice Depot</strong><br><br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
   <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
</ion-card>

<ion-card>
  <ion-row>
    <ion-col size="2">
      <ion-avatar>
        <img src="https://c8.alamy.com/comp/2A1902T/bakery-shop-building-facade-with-signboard-baking-store-cafe-bread-pastry-and-dessert-shop-showcases-with-various-bread-and-cakes-products-market-or-supermarket-flat-vector-illustration-2A1902T.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <strong>Sri Balaji Rice Depot</strong><br><br>
      <ion-icon color="primary" name="star-half-outline"></ion-icon> 4.8 
      <ion-icon color="primary" name="location-outline"></ion-icon> 100 Mts
    </ion-col>
   <ion-col size="1">
      <ion-icon color="danger" name="heart-outline"></ion-icon><br /><br />
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row>
</ion-card>
</ion-content>
