<ion-header color="primary">
  <ion-toolbar color="custom">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-row>
      <ion-col size="6" style="margin-top: 3.2%;">
        <img src="assets/text-logo.png">
      </ion-col>
      <ion-col routerLink="/global-search">
        <ion-icon name="search-outline"></ion-icon>
      </ion-col>
      <ion-col routerLink="/notification">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="play-outline"></ion-icon>
      </ion-col>
    </ion-row> -->
    <div style="margin-top: 7px">
      <img src="assets/text-logo.png">
    </div>
    <ion-buttons slot="end">
      <ion-icon name="search-outline" routerLink="/global-search"></ion-icon>
      <ion-icon name="notifications-outline" routerLink="/notification"></ion-icon>
      <ion-icon name="play-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="alldiv" *ngIf="all">
    <div class="purplelink">Categories</div>
    <div class="alllinks">
      <div class="links" *ngFor="let cat of categories; let i = index;">{{cat.category}}</div>
    </div>
    <div class="purplelink">Services</div>
    <div class="alllinks">
      <div class="links" *ngFor="let ser of services; let i = index;">{{ser.service}}</div>
    </div>
    <div class="purplelink" routerLink="/featured">Featured Listing</div>
    <div class="purplelink">Recently Viewed</div>
    <div class="purplelink" routerLink="/shopsnearyou">Shops Near you</div>
    <div class="purplelink" routerLink="/servicesnearyou">Services Near You</div>
    <div class="purplelink" routerLink="/offersnearyou">Offers Near You</div>
  </div>

  <!-- <ion-row class="seg-class">
    <ion-col size="3">
      <ion-button (click)="showall()">All</ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button routerLink="/offersnearyou">Offers</ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button>Trend</ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button>Food</ion-button>
    </ion-col>
  </ion-row> -->

  <div class="seg-class scroll">

    <ion-button (click)="showall()">All</ion-button>

    <ion-button routerLink="/offersnearyou">Offers</ion-button>

    <ion-button>Trend</ion-button>

    <ion-button>Food</ion-button>

    <ion-button>Travel</ion-button>

    <ion-button>Bills</ion-button>

    <ion-button>Movies</ion-button>
  </div>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let ban of banners let i=index" >
      <img src="{{ban.banner_image}}"  style="border-radius: 10px;">
    </ion-slide>
  </ion-slides>

  <ion-row>
    <ion-col>
      <img
        src="{{posbanner1}}">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="title">Featured Listing</ion-col>
    <ion-col size="3" class="view-all" routerLink="/featured">View All</ion-col>
  </ion-row>

  <ion-row class="featured-img">
    <ion-col  *ngFor="let fet of featured let i=index" size="2">
      <img  src="{{fet.logo}}">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="title">Recently Viewed</ion-col>
    <ion-col size="3" class="view-all" routerLink="/recent">View All</ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4" routerLink="/details">
      <img
        src="https://play-lh.googleusercontent.com/5ZxVI65M9_yQQHgsY2f_lvSFD9E4Oqvfgxkg-E-MZwWt1M65-6HLY3twREAubQtZqqo">
    </ion-col>
    <ion-col size="4" routerLink="/details">
      <img
        src="https://play-lh.googleusercontent.com/5ZxVI65M9_yQQHgsY2f_lvSFD9E4Oqvfgxkg-E-MZwWt1M65-6HLY3twREAubQtZqqo">
    </ion-col>
    <ion-col size="4" routerLink="/details">
      <img
        src="https://play-lh.googleusercontent.com/5ZxVI65M9_yQQHgsY2f_lvSFD9E4Oqvfgxkg-E-MZwWt1M65-6HLY3twREAubQtZqqo">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="title">Shop Categories</ion-col>
    <ion-col size="3" class="view-all" routerLink="/shop-categories">View All</ion-col>
  </ion-row>

  <ion-row>
    <ion-col *ngFor="let cat of categories | slice:0:3; let i=index" (click)="category(i)">
      <div class="service-icons">
        <img src="https://topiko.com/app/icons/{{cat.image}}">
        <div>{{cat.category}}</div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="title">Service Categories</ion-col>
    <ion-col size="3" class="view-all" routerLink="/service-categories">View All</ion-col>
  </ion-row>

  <ion-row>
    <ion-row>
      <ion-col *ngFor="let ser of services | slice:0:3; let i=index" (click)="service(i)">
        <div class="service-icons">
          <img src="https://topiko.com/app/icons/{{ser.image}}">
          <div>{{ser.service}}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-row>

  <ion-row>
    <ion-col class="title">Offers Near You</ion-col>
    <ion-col size="3" class="view-all" routerLink="/offersnearyou">View All</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4" class="p-0"  *ngFor="let offn of offersNear; let i=index">
      <img src="{{offn.image}}">
      <div class="img-title center text-center p-0" text-center>{{offn.offer}}</div>
    </ion-col>
  </ion-row>
  



  <ion-row>
    <ion-col class="title">Shops Near You</ion-col>
    <ion-col size="3" class="view-all" routerLink="/shopsnearyou">View All</ion-col>
  </ion-row>
<ion-row>
  <ion-col size="3" class="p-0"  *ngFor="let list of listing | slice:1:9;  let i=index" (click)="details(list)">
    <img src="{{list.icon}}" class="icon-img">
    <div class="img-title center text-center p-0" text-center>{{list.name}}</div>
  </ion-col>
</ion-row>
  <ion-row>
    <ion-col size="3" class="p-0"  *ngFor="let shopn of shopsNear; let i=index;" (click)="getdetials(i)">
      <img src="{{shopn.logo}}"  class="icon-img">
      <div class="img-title center text-center p-0" text-center>{{shopn.business_name}}</div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="title">Services Near You</ion-col>
    <ion-col size="3" class="view-all" routerLink="/servicesnearyou">View All</ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4" class="p-0"  *ngFor="let sern of servicesNear  | slice:0:3;  let i=index">
      <img src="{{sern.logo}}">
      <div class="img-title center text-center p-0" text-center>{{sern.business_name}}</div>
    </ion-col>
  </ion-row>

  <ion-row>

    <ion-col class="col-mt-3" size="6" *ngFor="let pos2 of position2; let i = index;" >
      <img class="bdr-rad-20"
        src="{{pos2.image}}">
      <ion-row>
        <ion-col class="img-title">
          {{pos2.business_name}} | {{pos2.city}}
        </ion-col>
        <div class="hearticon-div">
          <ion-icon class="heart-icon" name="heart"></ion-icon>
        </div>
        <ion-col size="2" class="count text-overflow">389</ion-col>
        <!-- <ion-col size="1">
          <ion-icon color="custom" name="ellipsis-horizontal"></ion-icon>
        </ion-col>
        <ion-col size="1">
        </ion-col> -->
      </ion-row>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col class="col-mt-3">
      <img
        src="{{posbanner3}}" />
      <ion-row>
        <ion-col style="font-size: 12px;">
          OYO | Chennai
        </ion-col>
        <div class="hearticon-div">
          <ion-icon class="heart-icon" name="heart"></ion-icon>
        </div>
        <ion-col size="2" class="count text-overflow">389</ion-col>
        <!-- <ion-col size="1">
          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        </ion-col>
        <ion-col size="1">
        </ion-col> -->
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="col-mt-3" size="6"  *ngFor="let pos4 of position4; let i = index;">
      <img class="bdr-rad-20"
        src="{{pos4.image}}" />
      <ion-row>
        <ion-col class="img-title">
          {{pos4.business_name}} | {{pos4.city}}
        </ion-col>
        <div class="hearticon-div">
          <ion-icon class="heart-icon" name="heart"></ion-icon>
        </div>
        <ion-col size="2" class="count text-overflow">389</ion-col>
        <!-- <ion-col size="1">
          <ion-icon color="custom" name="ellipsis-horizontal"></ion-icon>
        </ion-col>
        <ion-col size="1">
        </ion-col> -->
      </ion-row>
    </ion-col>

  </ion-row>

  <br>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let pos5 of position5; let i = index;">
      <img
        src="{{pos5.image}}"
        style="border-radius: 10px;">
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer mode="md" class="home-footer">
  <ion-row>
    <ion-col>
      <ion-icon name="home" class="click-footer"></ion-icon>
      <p class="click-footer">Home</p>
    </ion-col>
    <ion-col routerLink="/profile">
      <ion-icon name="person-outline"></ion-icon>
      <p>Profile</p>
    </ion-col>
    <ion-col routerLink="/qr-scanner">
      <ion-icon name="scan-outline"></ion-icon>
      <p>Scan</p>
    </ion-col>
    <ion-col routerLink="/favourites">
      <ion-icon name="heart-outline"></ion-icon>
      <p>Favourites</p>
    </ion-col>
    <ion-col routerLink="/calls">
      <ion-icon name="call-outline"></ion-icon>
      <p>Call</p>
    </ion-col>
  </ion-row>
</ion-footer>