
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<h2>how do you want to add products?</h2>
<div class="selction-div">
<ion-card  (click)="showcatalog()">
  <ion-row>
    <ion-col size="3">
      <img src="assets/list.png">
    </ion-col>
    <ion-col>
      <h3>Choose From our List</h3>
    </ion-col>
    <ion-col size="2" class="checkbox">
    
    </ion-col>
  </ion-row>
</ion-card>

<ion-card routerLink="/addproduct">
  <ion-row>
    <ion-col size="3">
      <img src="assets/new.png">
    </ion-col>
    <ion-col>
      <h3>Create New Product</h3>
    </ion-col>
    <ion-col size="2" class="checkbox">
    
    </ion-col>
  </ion-row>
</ion-card>
</div>
<div *ngIf="catalog">
  <div class="close" (click)="close()"><ion-icon name="close-outline"></ion-icon></div>

<div class="catalog-div">
  <ion-badge color="warning">Limited Time offer</ion-badge>
  <ion-row>
    <ion-col>
      <h3>Free Catalog Builder</h3>
      <p>Add Porducts in your catalog for free</p>
    </ion-col>
    <ion-col size="4">
      <img src="assets/catalog.png">
    </ion-col>
  </ion-row>
  <ion-button size="block" routerLink="/productcategory"> Explore categories</ion-button>
</div>
</div>
</ion-content>

<ion-footer>
  <ion-button size="block" routerLink="/dashboard" shape="round" color="warning">Continue</ion-button>
</ion-footer>