ion-content
{
    font-size: 12px;
}
.icons
{
    background: #fff;
    padding: 10%;
    font-size: 32px;
    text-align: center;
    color: #7f1073;
    border-radius: 50%;
}
h6{
    padding: 0;
    margin: 0;
}

.link-icon
{
    filter: invert(1); 
    width: 50%;
}