
<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-row>
        <ion-col><ion-title>Kavya Kiranam</ion-title></ion-col>
      </ion-row>
    </ion-toolbar>
</ion-header>


<ion-content>
  <ion-slides autoplay="5000" loop="true" speed="500" class="slides" pager="true">
    <ion-slide>
      <img src="../assets/banner1.png" >
    </ion-slide>
    <ion-slide>
      <img src="../assets/banner2.png" >
    </ion-slide>
    <ion-slide>
      <img src="../assets/banner3.png" >
    </ion-slide>
  </ion-slides>


  
  <ion-segment 
    value="all" 
    color="tertiary" 
    scrollable="true"
    mode="ios"
    [(ngModel)]="segmentModel" >

      <ion-segment-button value="details">
        <ion-label>Details</ion-label>
      </ion-segment-button>

      <ion-segment-button value="offers">
        <ion-label>Offers</ion-label>
      </ion-segment-button>

      <ion-segment-button value="products">
        <ion-label>Products</ion-label>
      </ion-segment-button>

      <ion-segment-button value="reviews">
        <ion-label>Reviews</ion-label>
      </ion-segment-button>

      
    </ion-segment>

    <div  *ngIf="segmentModel === 'details'">
      <ion-card>
        <ion-row no-padding>
          <ion-col><p class="shop-name">Kavya Kiranam</p></ion-col>
          <ion-col size="2"><ion-badge color="primary">4.9</ion-badge></ion-col>
        </ion-row>
        <p class="cat">Grocery</p>
        <p class="location">Kuaktpally, Hyderabad</p>
        <ion-icon color="primary" name="star-half-outline"></ion-icon>
        <ion-icon color="primary" name="star-half-outline"></ion-icon>
        <ion-icon color="primary" name="star-half-outline"></ion-icon>
        <ion-icon color="primary" name="star-half-outline"></ion-icon>
        <ion-icon color="primary" name="star-half-outline"></ion-icon>
        4.5 / 5
        <p class="open-close-time">Open : 10:00 Am - 10:00 Pm</p>
        <ion-row text-center center class="row-top-bdr">
          <ion-col>
            <ion-icon class="icons" name="call-outline" (click)="CustOpen()"></ion-icon>
            Call
          </ion-col>
          <ion-col routerLink="/message">
            <ion-icon  class="icons" name="chatbox-ellipses-outline"></ion-icon>
            Chat
          </ion-col>
          <ion-col>
            <ion-icon  class="icons" name="navigate-outline" routerLink="/map"></ion-icon>
            Directions
          </ion-col>
          <ion-col>
            <ion-icon  class="icons" name="share-social-outline"></ion-icon>
            Share
          </ion-col>
        </ion-row>
      </ion-card>
        <ion-card>
          <strong>About </strong>
          <ion-col>
          <p style="line-height: 20px;">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
          </ion-col>
      </ion-card>
    
      <ion-card>
        <strong>Photos</strong>
        <ion-row>
          <ion-col>
            <ion-avatar>
              <img src="https://winaero.com/blog/wp-content/uploads/2019/11/Photos-new-icon.png">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-avatar>
              <img src="https://winaero.com/blog/wp-content/uploads/2019/11/Photos-new-icon.png">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-avatar>
              <img src="https://winaero.com/blog/wp-content/uploads/2019/11/Photos-new-icon.png">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-avatar>
              <img src="https://winaero.com/blog/wp-content/uploads/2019/11/Photos-new-icon.png">
            </ion-avatar>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card>
        <strong>Store Directions</strong>
      <ion-row>
        <ion-col>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60966.214446579885!2d80.11541535332768!3d17.24843419167358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3459d0d5cf738d%3A0xe18da4ae6d89da01!2sKhammam%2C%20Telangana!5e0!3m2!1sen!2sin!4v1614011017766!5m2!1sen!2sin" width="100%" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </ion-col>
      </ion-row>
    </ion-card>
    
      <ion-card>
        <strong>Store Timings</strong>
        <ion-item>
          <ion-row>
            <ion-col>
              <ion-label> Monday </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>: </ion-label>
        </ion-col>
        <ion-col>
          <ion-label> 10:00 Am to 10:00 Pm  </ion-label>
      </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col>
              <ion-label> Tuesday </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>: </ion-label>
        </ion-col>
        <ion-col>
          <ion-label> 10:00 Am to 10:00 Pm  </ion-label>
      </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col>
              <ion-label> Wednesday </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>: </ion-label>
        </ion-col>
        <ion-col>
          <ion-label> 10:00 Am to 10:00 Pm  </ion-label>
      </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col>
              <ion-label> Thursday </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>: </ion-label>
        </ion-col>
        <ion-col>
          <ion-label> 10:00 Am to 10:00 Pm  </ion-label>
      </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col>
              <ion-label> Friday </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>: </ion-label>
        </ion-col>
        <ion-col>
          <ion-label> 10:00 Am to 10:00 Pm  </ion-label>
      </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col>
              <ion-label> Saturday </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>: </ion-label>
        </ion-col>
        <ion-col>
          <ion-label> 10:00 Am to 10:00 Pm  </ion-label>
      </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col>
              <ion-label> Sunday </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>: </ion-label>
        </ion-col>
        <ion-col>
          <ion-label> 10:00 Am to 10:00 Pm  </ion-label>
      </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>
    
    </div>
    
    
    <div *ngIf="segmentModel === 'products'">
    <ion-card>
       <ion-row no-padding>
         <ion-col size="2">
           <img src="https://winaero.com/blog/wp-content/uploads/2019/11/Photos-new-icon.png" >
         </ion-col>
         <ion-col>
           <p class="shop-name">Product Name</p>
           <p class="cat">Product Description</p>        
          </ion-col>
          <ion-col size="2">
            <ion-badge>99.00</ion-badge>
          </ion-col>
       </ion-row>
    </ion-card>
    <ion-card>
      <ion-row no-padding>
        <ion-col size="2">
          <img src="https://winaero.com/blog/wp-content/uploads/2019/11/Photos-new-icon.png" >
        </ion-col>
        <ion-col>
          <p class="shop-name">Product Name</p>
          <p class="cat">Product Description</p>        
         </ion-col>
         <ion-col size="2">
           <ion-badge>99.00</ion-badge>
         </ion-col>
      </ion-row>
   </ion-card>
   <ion-card>
    <ion-row no-padding>
      <ion-col size="2">
        <img src="https://winaero.com/blog/wp-content/uploads/2019/11/Photos-new-icon.png" >
      </ion-col>
      <ion-col>
        <p class="shop-name">Product Name</p>
        <p class="cat">Product Description</p>        
       </ion-col>
       <ion-col size="2">
         <ion-badge>99.00</ion-badge>
       </ion-col>
    </ion-row>
 </ion-card>
 <ion-card>
  <ion-row no-padding>
    <ion-col size="2">
      <img src="https://winaero.com/blog/wp-content/uploads/2019/11/Photos-new-icon.png" >
    </ion-col>
    <ion-col>
      <p class="shop-name">Product Name</p>
      <p class="cat">Product Description</p>        
     </ion-col>
     <ion-col size="2">
       <ion-badge>99.00</ion-badge>
     </ion-col>
  </ion-row>
</ion-card>
<ion-card>
  <ion-row no-padding>
    <ion-col size="2">
      <img src="https://winaero.com/blog/wp-content/uploads/2019/11/Photos-new-icon.png" >
    </ion-col>
    <ion-col>
      <p class="shop-name">Product Name</p>
      <p class="cat">Product Description</p>        
     </ion-col>
     <ion-col size="2">
       <ion-badge>99.00</ion-badge>
     </ion-col>
  </ion-row>
</ion-card>
  </div>
    
  <div *ngIf="segmentModel === 'reviews'">
    <ion-card>
      <strong>Add Review</strong>
      <ion-row>
        <ion-col class="rating">
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-textarea placeholder="Enter more information here..."></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="text-right">
        <ion-button size="small">Submit Review</ion-button>
      </ion-row>
    </ion-card>
    <ion-card no-padding >
     <ion-row>
       <ion-col size="3">
         <img class="img-round" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1xxoMK3UqLKv23cerkEfGiVUMikFr6A_JKA&usqp=CAU">
       </ion-col>
       <ion-col>
        <p class="review-name">Maria R. Graza</p>
        <p><ion-icon name="calendar-outline"></ion-icon> 2021-02-17 10:31</p>
       </ion-col>
       <ion-col size="2">
         <ion-badge>3.9 <ion-icon name="star-outline"></ion-icon></ion-badge>
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col>
        <p class="review-text" style="line-height: 12px;">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
       </ion-col>
     </ion-row>
    </ion-card>

    <ion-card no-padding >
      <ion-row>
        <ion-col size="3">
          <img class="img-round" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1xxoMK3UqLKv23cerkEfGiVUMikFr6A_JKA&usqp=CAU">
        </ion-col>
        <ion-col>
         <p class="review-name">Maria R. Graza</p>
         <p><ion-icon name="calendar-outline"></ion-icon> 2021-02-17 10:31</p>
        </ion-col>
        <ion-col size="2">
          <ion-badge>3.9 <ion-icon name="star-outline"></ion-icon></ion-badge>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
         <p class="review-text" style="line-height: 12px;">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
        </ion-col>
      </ion-row>
     </ion-card>

     <ion-card no-padding >
      <ion-row>
        <ion-col size="3">
          <img class="img-round" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1xxoMK3UqLKv23cerkEfGiVUMikFr6A_JKA&usqp=CAU">
        </ion-col>
        <ion-col>
         <p class="review-name">Maria R. Graza</p>
         <p><ion-icon name="calendar-outline"></ion-icon> 2021-02-17 10:31</p>
        </ion-col>
        <ion-col size="2">
          <ion-badge>3.9 <ion-icon name="star-outline"></ion-icon></ion-badge>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
         <p class="review-text" style="line-height: 12px;">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
        </ion-col>
      </ion-row>
     </ion-card>

     <ion-card no-padding >
      <ion-row>
        <ion-col size="3">
          <img class="img-round" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1xxoMK3UqLKv23cerkEfGiVUMikFr6A_JKA&usqp=CAU">
        </ion-col>
        <ion-col>
         <p class="review-name">Maria R. Graza</p>
         <p><ion-icon name="calendar-outline"></ion-icon> 2021-02-17 10:31</p>
        </ion-col>
        <ion-col size="2">
          <ion-badge>3.9 <ion-icon name="star-outline"></ion-icon></ion-badge>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
         <p class="review-text" style="line-height: 12px;">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
        </ion-col>
      </ion-row>
     </ion-card>
    
  </div>
  
    <div  *ngIf="segmentModel === 'offers'">
  <ion-card>
    <ion-row>
      <ion-col>BUY ONE GET ONE FREE</ion-col>
      <ion-col size="3">
        <ion-button color="primary" size="small" expand="block" type="ios">Claim</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  </div>

  <div class="customer" *ngIf = "Customer">
    <ion-card>
      <ion-card-header style="text-align: right;">
        <ion-icon class="close" (click)="CustClose()" name="close-circle-outline" color="danger"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col style="text-align: right;">
           
          </ion-col>
        </ion-row>
            <ion-row>
              <ion-col size="10" class="cust-name">
                <div class="cust-name">Surendra</div>
                <div class="cust-lang">Can Speak: English, Telugu, Hindi</div>
              </ion-col>
              <ion-col size="2" class="call-btn" routerLink="/calling"><ion-icon name="call-outline"></ion-icon></ion-col>
            </ion-row>
          <hr>
            <ion-row>
              <ion-col size="10" class="cust-name">
                <div class="cust-name">Senthil Kumar</div>
                <div class="cust-lang">Can Speak: Tamil, English</div>
              </ion-col>
              <ion-col size="2" class="call-btn" routerLink="/calling"><ion-icon name="call-outline"></ion-icon></ion-col>
            </ion-row>
      </ion-card-content>
    </ion-card>
    
  </div>
  
</ion-content>


<ion-footer>
  <ion-row>
    <ion-col routerLink="/calllist">
      <ion-icon name="call-outline"></ion-icon>
    </ion-col>
    <ion-col routerLink="/message">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-col>
    <ion-col routerLink="/home">
      <ion-icon name="home-outline" class="home-icon"></ion-icon>
    </ion-col>
    <ion-col routerLink="/favourite">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-col>
    <ion-col routerLink="/profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-col>
  </ion-row>
</ion-footer>
