.icons
{
    display: block;
    text-align: center;
    background: #e4e4e4;
    padding: 10px;
    border-radius: 10em;
    color: #43063c;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.img-round
{
    border-radius: 50%;
}

.row-top-bdr
{
    border-top: 1px solid #eaeaea;
    text-align: center;
    font-size: 12px;
    margin:10px 0 ;
    height: 50px;
}
ion-card
{
    padding: 10px;
}
p
{
    line-height: 10px;
}
.shop-name
{
font-size: 20px;
font-weight: bold;
color: #000;
line-height: 0;
margin: 10px 0;
}
.cat
{
color: #ccc;
line-height: 10px;
}
.location
{
    font-size: 12px;
    color: mediumpurple;
    line-height: 0;
}

.open-close-time
{
    font-size: 12px;
    display: block;
    color: #ccc;
}
.review-name
{
    font-size: 16px;
    font-weight: bold;
    color: #7d0670;
    padding: 0;
}
strong
{
    color: #7d0670;
}
.review-date
{
font-size: 12px;
}
.review-text
{
font-size: 10px;
color: #333;
margin: 0;
color:#666;
}
.map-holder
{
    padding: 10px 5px;
    background: #f4f4f4;
    margin: 10px;
    border-radius: 5px;
}
.customer
{
    top: 0;
    width: 100%;
    z-index: 1;
    background: rgb(156 39 176 / 80%);
    height: 100%;
    position: absolute;
    padding-top: 20%;
}

.cust-name
{
    font-size: 18px;
    font-weight: bold;
    color: #5e1c57
}

.cust-lang
{
    font-size: 12px;
    color: #cacaca
}

.call-btn
{
    background: #5e1c57;
    height: 44px;
    border-radius: 50%;
    text-align: center;
    padding: 13px;
    color: #fff;
    font-size: 20px;
}

.close
{
    position: absolute;
    top: 0;
    font-size: 32px;
    right: 5px;
}

.rating
{
    text-align: center;
    font-size: 32px;
}

.text-right
{
    float: right;
}