<ion-header color="custom" mode="md">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button mode="md" text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2 style="text-align: center;">Plans</h2>

  <h2 style="text-align: center; color:#871178">6 Months Free Trail</h2>

  <h4>Duration Left</h4>
  <ion-card style="font-size: 18px;">
    <ion-row style="text-align: center; color:#871178;">
      <ion-col>Days</ion-col>
      <ion-col>Hrs</ion-col>
      <ion-col>Min</ion-col>
      <ion-col>Sec</ion-col>
    </ion-row>
    <ion-row style="text-align: center;">
      <ion-col>102</ion-col>
      <ion-col>24</ion-col>
      <ion-col>12</ion-col>
      <ion-col>36</ion-col>
    </ion-row>
  </ion-card>

  <h4>Plan Details</h4>

  <ion-card>
    <ion-row style="color: #871178; font-size: 20px;">
      <ion-col size="8">Six Month</ion-col>
      <ion-col style="text-align: right;">6999/-</ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row style="color: #871178; font-size: 20px;">
      <ion-col size="8">Yearly <span style="font-size: 12px; color: #ccc;">(11 Months)</span></ion-col>
      <ion-col style="text-align: right;">11,999/-</ion-col>
    </ion-row>
  </ion-card>


  
</ion-content>