<ion-header color="custom">
  <ion-toolbar color="custom" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let off of offers; let i = index;">
    <ion-row>
      <div class="avatar">
        <ion-avatar>
          <img class="product-img" src="{{off.image}}">
        </ion-avatar>
      </div>
      <ion-col class="text-overflow">
        <p class="user-name pclass">{{off.offer}}</p>
        <p class="time pclass">start : {{off.start}} End : {{off.end}}</p>
        <p class="price-div pclass">Price - <span class="price">{{off.discount_price}}</span> <span
            class="ori_price">{{off.actual_price}}</span> <span class="discount">{{off.discount / off.actual_price * 100
            | number:'2.1-2'}}%off</span></p>
      </ion-col>
      <ion-col size="1" class="ellipsis" (click)="openMenu(i)">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="chats scroll">
      <ion-col>
        <p class="text">Shares</p>
        <p class="number">0</p>
      </ion-col>
      <ion-col class="sep" size="0.1"></ion-col>
      <ion-col>
        <p class="text">Likes</p>
        <p class="number">0</p>
      </ion-col>
      <ion-col class="sep" size="0.1"></ion-col>
      <ion-col>
        <p class="text">Favourites</p>
        <p class="number">0</p>
      </ion-col>
      <ion-col class="sep" size="0.1"></ion-col>
      <ion-col class="calls">
        <p class="text">Comments</p>
        <p class="number">0</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab" routerLink="/add-offer">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer mode="md" class="home-footer">
  <ion-row>
    <ion-col routerLink="/home">
      <ion-icon name="home" class="click-footer"></ion-icon>
      <p>Home</p>
    </ion-col>
    <ion-col routerLink="/profile">
      <ion-icon name="person-outline"></ion-icon>
      <p>Profile</p>
    </ion-col>
    <ion-col routerLink="/qr-scanner">
      <ion-icon name="scan-outline"></ion-icon>
      <p>Scan</p>
    </ion-col>
    <ion-col routerLink="/favourites">
      <ion-icon name="heart-outline"></ion-icon>
      <p>Favourites</p>
    </ion-col>
    <ion-col routerLink="/calls">
      <ion-icon name="call-outline"></ion-icon>
      <p>Call</p>
    </ion-col>
  </ion-row>
</ion-footer>




<!-- 
  <ion-card>
    <ion-row>
      <ion-col size="2">
        <img class="product-img" src="https://yt3.ggpht.com/ytc/AAUvwnjkwtc_wiNI_-_zREBD-KFLsBpjwQQghF_3jsUgtA=s900-c-k-c0x00ffffff-no-rj">
      </ion-col>
      <ion-col>
        <h5>50% Ticket Bonanza</h5>
        <p class="date">04/26/2021</p>
        <p class="price-div">price - <span class="price">800</span> <span class="ori_price">1000</span> <span class="discount">20%off</span></p>
      </ion-col>
      <ion-col size="1" (click)="openMenu()">
        <ion-icon class="btn" name="ellipsis-vertical" class="icons"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="chats" routerLink="/offer-views">
      <ion-col size="2.5">
        <p class="text">Share</p>
        <p class="number">0</p>
      </ion-col>
      <ion-col class="sep" size="0.1"></ion-col>
      <ion-col size="2.5">
        <p class="text">Like</p>
        <p class="number">0</p>
      </ion-col>
      <ion-col class="sep" size="0.1"></ion-col>
      <ion-col size="2.6">
        <p class="text">Favourites</p>
        <p class="number">0</p>
      </ion-col>
      <ion-col class="sep" size="0.1"></ion-col>
      <ion-col size="2.5">
        <p class="text">Comments</p>
        <p class="number">02</p>
      </ion-col>
    </ion-row>
  </ion-card>
  
  <ion-card>
    <ion-row>
      <ion-col size="2">
        <img class="product-img" src="https://yt3.ggpht.com/ytc/AAUvwnjkwtc_wiNI_-_zREBD-KFLsBpjwQQghF_3jsUgtA=s900-c-k-c0x00ffffff-no-rj">
      </ion-col>
      <ion-col>
        <h5>50% Ticket Bonanza</h5>
        <p class="date">04/26/2021</p>
        <p class="price-div">price - <span class="price">800</span> <span class="ori_price">1000</span> <span class="discount">20%off</span></p>
      </ion-col>
      <ion-col size="1">
        <ion-icon class="btn" name="ellipsis-vertical" class="icons"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="chats">
      <ion-col size="2.5">
        <p class="text">Share</p>
        <p class="number">0</p>
      </ion-col>
      <ion-col class="sep" size="0.1"></ion-col>
      <ion-col size="2.5">
        <p class="text">Like</p>
        <p class="number">0</p>
      </ion-col>
      <ion-col class="sep" size="0.1"></ion-col>
      <ion-col size="2.6">
        <p class="text">Favourites</p>
        <p class="number">0</p>
      </ion-col>
      <ion-col class="sep" size="0.1"></ion-col>
      <ion-col size="2.5">
        <p class="text">Comments</p>
        <p class="number">02</p>
      </ion-col>
    </ion-row>
  </ion-card>
  
  <ion-card>
    <ion-row>
      <ion-col size="2">
        <img class="product-img" src="https://yt3.ggpht.com/ytc/AAUvwnjkwtc_wiNI_-_zREBD-KFLsBpjwQQghF_3jsUgtA=s900-c-k-c0x00ffffff-no-rj">
      </ion-col>
      <ion-col>
        <h5>50% Ticket Bonanza</h5>
        <p class="date">04/26/2021</p>
        <p class="price-div">price - <span class="price">800</span> <span class="ori_price">1000</span> <span class="discount">20%off</span></p>
      </ion-col>
      <ion-col size="1">
        <ion-icon class="btn" name="ellipsis-vertical" class="icons"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="chats">
      <ion-col size="2.5">
        <p class="text">Share</p>
        <p class="number">0</p>
      </ion-col>
      <ion-col class="sep" size="0.1"></ion-col>
      <ion-col size="2.5">
        <p class="text">Like</p>
        <p class="number">0</p>
      </ion-col>
      <ion-col class="sep" size="0.1"></ion-col>
      <ion-col size="2.6">
        <p class="text">Favourites</p>
        <p class="number">0</p>
      </ion-col>
      <ion-col class="sep" size="0.1"></ion-col>
      <ion-col size="2.5">
        <p class="text">Comments</p>
        <p class="number">02</p>
      </ion-col>
    </ion-row>
  </ion-card>
  
 

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/add-offer">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content> -->

